*{
    margin: 0;
    padding: 0;
}

.graph-section6{
    height: 200vh;
    width: 98.7vw;
    position: relative;
    background: #333;
    margin-top: -10px; 
}

.graph-section6 h1{
    color: #333;
    font-size: 40px;
    position: absolute;
    top: 5%;
    margin: 0px 100px 0px 300px;
    padding: 0px 100px 0px 0px;
}
#line-graph{
    top: 15%;
    left: 43.3%;
    position: absolute;
    border-radius: 2px 2px 2px 2px;
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    padding: 0px 150px 4px 50px;
}

.graph-section6 .top-para{
    color: #333;
    font-size: 20px;
    position: absolute;
    margin: 0px 80px 0px 70px;
    top: 20%;
}
.graph-section6 .middle-para{
    color: #333;
    font-size: 20px;
    position: absolute;
    margin: 0px 80px 0px 70px;
    top: 40%;
}
 
.graphbtn-read{
    position: absolute;
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    border-radius: 15px;
    border: none;
    left: 45%;
    top: 90%;
    color: #fff;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 200;
    text-transform: capitalize;
    padding: 8px;
    transition: margin-top 0.4s ease-in-out;
}


