*{
    margin: 0;
    padding: 0;

}

.blockchain-nav-container{
    height: 125vh;
    width: 98.7vw;
    position: relative;
}
.blockchain-nav-container img{
    position: relative;
    height:  125vh;
    width: 98.7vw;
    object-fit: cover;
    background-repeat: no-repeat;
}
.logo{
    margin-top: -40px;
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/WxpLfrH/image.png');
    height: 100vh;
    width: 50vw;
    top: 10.2%;
    left: 14%;
    cursor: pointer;
    background-size: 20%;
    background-repeat: no-repeat;
}

.nav-items{
    margin-top: -21px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bars{
    display: none;
}
.nav-items .about{
    left: 43%;
}
.nav-items .service{
    left: 52%;
}

.nav-items .portfolio{
    left: 60%;
}

.nav-items .blog{
    left: 68%;
}
.dropdown {
    position: relative;
    cursor: pointer;
}
.dropdown-content {
    background: #fff;
    height: 600px;
    width: 300px;
    position: absolute;
    z-index: 5;
    border-radius: 2px;
    margin-top: 85px;
    margin-left: 20px;
    
}

.dropdown-content li{
    list-style: none;
}

.dropdown-content .nav-service1{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 5%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service2{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 12%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
    
}

.dropdown-content .nav-service3{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 20%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}

.dropdown-content .nav-service4{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 26%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service5{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 33%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service6{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 40%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service7{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 47%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service8{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 54%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service9{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 61%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service10{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 68%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service11{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 75%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service12{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 82%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service13{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 89%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}


.call-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 26px;
    position: absolute;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #233f81;
    z-index: 1;
    background: #fff;
    top: 6%;
    left: 78%;
}

.animatie-banner-line{
    top: 18.7%;
    left: 9%;
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 255);
    margin-left: -120px;
    padding: 0px 673px 1px;
}

.animate-heading h1{
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 5%;
    margin: 0px 500px 0px -20px;
    padding: 0px 100px 0px 5px;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}

.animate-heading p{
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 3%;
    margin: 0px 50px 0px -20px;
    padding: 0px 110px 0px 5px;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}
.blockchain1-start{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px 10px 20px;
    position: absolute;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: #233F81;
    z-index: 1;
    outline: 1px solid #fff;
    background: #fff;
    top: 75%;
    left: 4.5%;
}

.blockchain1-start:hover {
    box-shadow: inset 0 0 0 50px #e6e1e4;
    color: #233F81;
}

.block-nav-image{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/9yQY1JN/image.png');
    height: 500px;
    width: 550px;
    top: 30%;
    left: 55%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.block1-visible-div{
    background: #47267F;
    height: 600px;
    width: 1000px;
    position: absolute;
    z-index: 5;
    top: 18%;
    left: 15%;
    border-radius: 70px;
}

.block1-visible-div img{
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 6;
    top: 20%;
    left: 1%;
    border-radius: 50px 0px 50px 0px;
}

.block1-visible-div .visible-p1{
    position: absolute;
    z-index: 5;
    top: 75%;
    left: -1%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1px;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 400px;
}

.block1-visible-div .visible-p2{
    position: absolute;
    z-index: 5;
    top: 15%;
    left: 60%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}

.block1-visible-div .visible-p3{
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 55%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: -1px;
    text-transform: inherit;
}

.visible-contact-form{
    position: absolute;
    z-index: 5;
    top: 40%;
    left: 55%;
}

.visible-contact-form .full-name{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .email{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .phone-no{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .message-input{
    position: absolute;
    z-index: 5;
    height: 25px;
    width: 140px;
    color: #fff;
    font-size: 18px;
    top:110%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}

.visible-contact-form .submit-btn{
    position: absolute;
    z-index: 5;
    left: 25%;
    top: 180%;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #212457;
    background: #212457;
    color: #fff;


}

.visible-contact-form .btn-close{
    position: absolute;
    z-index: 5;
    left: 92%;
    top: -160%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid transparent;
    background: transparent;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .logo{
        height: 100vh;
        width: 50vw;
        top: 11%;
        left: 10%;
        background-size: 25%;
    }
    #line1{
        top: 75%;
        left: 10%;
    }
    #line2{
        top: 75%;
        left: 20.5%;
    }
    #line3{
        top: 75%;
        left: 23%;
    }
    .banner-line{
        margin-left: -91px;
        padding-right: 339px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-container img{
        height:  100vh;
        width: 97.8vw;

    }
    .logo{
        height: 100vh;
        width: 50vw;
        top: 7%;
        background-size: 30%;
    }
    .nav-items{
     display: none;
    }
    .bars{
        display: flex;
        margin-left: 625px;
        margin-top: 30px;
        font-size: 36px;
        background: transparent;
        color: white;
        border: none;
        justify-content: flex-end;
        position: absolute;
        z-index: 2;
    }
    .banner-line{
        margin-top: -30px;
        margin-left: -100px;
        padding-right: 109px;
    }
    .banner-span{
        font-size: 35px;
    }
    .banner-half-h {
        position: absolute;
        z-index: 2;
        top: 90%;
        border-radius: 0px 12px 12px 0px;
        background: rgb(255, 255, 255);
        margin-left: -120px;
        padding: 40px 0px 40px 350px;
    }

    .banner-heading h1{
        font-size: 50px;
    }
    h1.digital {
        position: absolute;
        z-index: 3;
        color: #6C50B1;
        margin-top: -45px;
        margin-left: 100px;
    }
    .banner-heading .potential{
        font-size: 50px;
        margin-left: 25px;
    }
    #line1{
        top: 77%;
        left: 10%;
    }
    #line2{
        top: 77%;
        left: 24%;
    }
    #line3{
        top: 77%;
        left: 27%;
    }
    .btn-read{
        left: 10%;
        top: 86%;
    }
}
@media only screen and (max-width: 480px) {
    .logo{
        height: 100vh;
        width: 50vw;
        top: 7%;
        background-size: 45%;
    }
    .nav-items{
        display: none;
    }
    .banner-line{
        margin-top: 50px;
        margin-left: -57px;
        margin-right: 43px;
        padding: 0px 0px 1px;
    }
    .banner-span{
        font-size: 30px;
    }
    .banner-half-h {
        margin-left: -180px;
    }
    .banner-heading h1{
        font-size: 40px;
        
    }
    h1.digital {
        position: absolute;
        z-index: 3;
        color: #6C50B1;
        margin-top: -45px;
        margin-left: 150px;
    }
    .banner-heading .potential{
        font-size: 40px;
        margin-left: 15px;
    }
    #line1{
        top: 76%;
        left: 10%;
        padding: 0px 30px 4px;
    }
    #line2{
        top: 76%;
        left: 23%;
        padding: 0px 6px 4px;
    }
    #line3{
        top: 76%;
        left: 26%;
        padding: 0px 3px 4px;
    }
    .btn-read{
        left: 10%;
        font-size: 12px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .nav-container{
        width: 95vw;
    }
    .nav-container img{
        width: 95vw;
    }
    .logo{
        height: 100vh;
        width: 50vw;
        top: 8%;
        background-size: 55%;
    }
    .bars{
        display: none;
    }
    .banner-line{
        top: 10%;
        left: 0%;
        margin-top: 1px;
        margin-left: 283px;
        margin-right: 20px;
        padding: 0px 0px 1px;
        background: rgb(206, 12, 5);
    }
    .banner-span{
       font-size: 20px;
       top: 200px;
    }
    .banner-half-h {
        margin-left: -80px;
        top: 80px;
        padding: 40px 0px 40px 190px;
    }
    .banner-heading h1{
        top: 280px;
        font-size: 30px;
    }
    h1.digital {
        margin-top: -290px;
        margin-left: 50px;
        font-size: 30px;
    }
    .banner-heading .potential{
        font-size: 30px;
        margin-left: -12px;
        top: 70px;
    }
    #line1{
        top: 75%;
        left: 10%;
        padding: 0px 20px 4px;
    }
    #line2{
        top: 75%;
        left: 24%;
        padding: 0px 3px 4px;
    }
    #line3{
        top: 75%;
        left: 27%;
        padding: 0px 2px 4px;
    }
    .btn-read{
        left: 10%;
        font-size: 10px;
        padding-left: 15px;
    }
}