*{
    margin: 0;
    padding: 0;
}

.service-section2{
    height: 100vh;
    width: 98.7vw;
    background: #f1f4ff;
    position: relative;
    margin-top: 0px !important;
}

.service-section2 .left-h1{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 50%;
    left: 2%;
    padding: 30px 800px 0px 0px;
    color: #243f82;
}
.service-section2 .right-h1{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 50%;
    left: 53%;
    padding: 30px 20px 0px 0px;
    color: #243f82;
}

.service-section2 .left-p{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    letter-spacing: -1px;
    top: 72%;
    left: 2%;
    padding: 30px 790px 0px 0px;
    color: #333;
}
.service-section2 .right-p{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; 
    letter-spacing: -1px;
    top: 72%;
    left:45%;
    padding: 30px 20px 0px 0px;
    color: #333;
    margin-right: 10px;
    margin-left: 100px;
}
.service-left2{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/NZzy8Ff/image.png');
    height: 450px;
    width: 450px;
    top: 5%;
    left: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.service-right2{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/KF1YkYy/image.png');
    height: 350px;
    width: 350px;
    top: 1%;
    left: 64%;
    background-size: 80%;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1024px) {
    .right-vision{
        font-size: 20px;
        padding: 30px 0px 0px 530px;
    }
    #line1-vision{
        top: 115%;
        left: 52%;
        padding: 0px 30px 4px 30px;
    }
    #line2-vision{
        top: 115%;
        left: 58.2%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 115%;
        left: 60.5%;
        padding: 0px 5px 4px 5px;
    }
    .right-heading{
        font-size: 30px;
        padding: 14px 0px 1px 10px;
        margin: 1px 10px 12px 490px;
    }
    .right-p {
        font-size: 16px;
        padding: 0px 2px 1px 480px;
        margin: 17px 30px 12px 25px;
    }
    .btn-visionread{
        top: 205%;
        left: 50%;
    }
    .box{
        top: 117%;
        left: 4%;
        padding: 340px 200px 50px 100px;
    }
    .box1{
        top: 125%;
        left: 10%;
        padding: 340px 200px 50px 100px;
    }
    .vision-image{
        height: 100vh;
        width: 65vw;
        top: 112.9%;
        left: 10%;
    }
}
@media only screen and (max-width: 768px) {
  
    .right-vision{
        font-size: 20px;
        padding: 15px 0px 0px 395px;
    }
    #line1-vision{
        top: 117%;
        left: 52%;
        padding: 0px 25px 4px 30px;
    }
    #line2-vision{
        top: 117%;
        left: 59.6%;
        padding: 0px 5px 4px 10px;
    }
    #line3-vision{
        top: 117%;
        left: 61.9%;
        padding: 0px 5px 4px 5px;
    }
    .right-heading{
        font-size: 30px;
        padding: 14px 0px 1px 85px;
        margin: -10px 80px 12px 300px;
    }
    .right-p {
        font-size: 14px;
        padding: 0px 2px 1px 95px;
        margin: -8px 10px 12px 280px;
    }
    .btn-visionread{
        top: 209%;
        left: 50%;
    }
    .box{
        top: 117%;
        left: 4%;
        padding: 300px 150px 40px 100px;
    }
    .box1{
        top: 125%;
        left: 10%;
        padding: 300px 150px 40px 100px;
    }
    .vision-image{
        height: 60vh;
        width: 67vw;
        top: 125%;
        left: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .box{
        display: none;
    }
    .box1{
        display: none;
    }
    .vision-image{
        display: none;
    }    
    .right-vision{
        font-size: 17px;
        padding: 30px 0px 0px 190px;
    } 
    #line1-vision{
        top: 119%;
        left: 39%;
        padding: 0px 25px 4px 20px;
    }
    #line2-vision{
        top: 119%;
        left: 49%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 119%;
        left: 53.5%;
        padding: 0px 4px 4px 8px;
    }
    .right-heading{
        font-size: 20px;
        padding: 14px 0px 1px 10px;
        margin: 1px 80px 12px 50px;
    }

    .right-p {
        font-size: 14px;
        padding: 0px 9px 1px 10px;
        margin: 17px 25px 12px 35px;
    }
    .btn-visionread{
        top: 213%;
        font-size: 12px;
        left: 10%;
        padding-left: 15px;
    }
}
@media only screen and (max-width: 320px) {
    .vision-main{
        height: 70vh;
        width: 98.7vw;
    }
    .right-vision{
        font-size: 20px;
        padding: 10px 0px 0px 110px;
    } 
    #line1-vision{
        top: 116%;
        left: 36%;
        padding: 0px 30px 4px 10px;
    }
    #line2-vision{
        top: 116%;
        left: 50%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 116%;
        left: 57%;
        padding: 0px 4px 4px 8px;
    }
    .right-heading{
        font-size: 20px;
        padding: 14px 0px 1px 10px;
        margin: -18px 50px 12px 50px;
    }

    .right-p {
        font-size: 12px;
        padding: 0px 9px 1px 10px;
        margin: -5px 25px 12px 35px;
    }
    .btn-visionread{
        top: 228%;
        font-size: 12px;
        left: 13%;
        padding-left: 15px;
    }
}