*{
    margin: 0;
    padding: 0;
}

.webcontact-container{
    height: 100vh;
    width: 98.7vw;
    background: #fff;
    position: relative;
    margin-top: 0px;
}

.contact-container img{
    height: 100vh;
    width: 98.7vw;
    position: relative;
}

.contact-box{
    top:-20%;
    left: 35%;
    position: absolute;
    z-index: 1;
    border: 1px solid #dae1fa;
    border-radius: 0px 0px 30px 30px;
    transform: rotate(90deg);
    transform-origin: 20% 40%;
    background: #dae1fa;
    color: transparent;
    padding: 600px 300px 100px 200px;
}

.contact-container h1{
    position: absolute;
    z-index: 2;
    top: 9%;
    left: 14.3%;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color: #fff;
}
.contact-container span{
    position: absolute;
    z-index: 2;
    left: 14.3%;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color:#fff;
}

.contact-container p{
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 15%;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color:#333;

}
.contact-box1{
    top: -0.1%;
    left:75%;
    position: absolute;
    z-index: 1;
    border-radius: 30px 30px 0px 0px;
    transform: rotate(90deg);
    transform-origin: 20% 40%;
    background: linear-gradient(30deg, #7554C1 29.51%, #243F82 93.15%);
    color: transparent;
    padding: 300px 200px 100px 300px;
}

.contact-form{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 15%;
}

.firstname-input{
    font-size: 15px;
    padding: 15px 25px 15px 12px;
    margin-left: 10px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}

.lastname-input{
    margin-left: 5px;
    font-size: 15px;
    padding: 15px 25px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.email-input{
    position: absolute;
    top: 120%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 15px 265px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.phone-input{
    position: absolute;
    top: 235%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 15px 265px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.message-input{
    position: absolute;
    top: 350%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 12px 270px 40px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.submit-btn{
    position: absolute;
    top: 550%;
    left: -1%;
    margin-left: 10px;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    padding: 12px 30px 12px 30px;
    border-radius: 20px;
    background: linear-gradient(251deg, #6C50B1 -3.61%, #2B4B8B 130.29%);
    border: 0.5px solid #808080;
    color: #fff;
}

.contact-carousel{
    margin-top: -50px;
    margin-left: 220px;
    position: absolute;
    top: 30%;
    z-index: 2;
}

.contact-carousel .heading1{
    color: #fff;
    margin-left: 5px;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.331px
}
.heading1 span{
    color: #333;
    margin-left: 5px;
    font-size: 25px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.331px
}
.contact-carousel .email-p1{
    color: #fff;
    margin-left: 35px;
    margin-top: 67px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.100px;
    text-transform: lowercase;
}
.contact-carousel .phone-p1{
    color: #fff;
    margin-left: 35px;
    margin-top: 140px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.100px;
    text-transform: lowercase;
}
.contact-carousel .location-p1{
    color: #fff;
    margin-left: 35px;
    margin-top: 210px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: 2px;
    text-transform: capitalize;

}
.contact-carousel .heading2{
    color: #fff;
    margin-left: 5px;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.331px
}
.contact-carousel .email-p2{
    color: #fff;
    margin-left: 370px;
    margin-top: 67px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.100px;
    text-transform: lowercase;
}
.contact-carousel .phone-p2{
    color: #fff;
    margin-left:370px;
    margin-top: 140px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.100px;
    text-transform: lowercase;
}
.contact-carousel .location-p2{
    color: #fff;
    margin-left: 370px;
    margin-top: 210px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.contact-carousel .heading3{
    color: #fff;
    margin-left: 5px;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.331px
}
.contact-carousel .email-p3{
    color: #fff;
    margin-left: 710px;
    margin-top: 67px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.100px;
    text-transform: lowercase;
}
.contact-carousel .phone-p3{
    color: #fff;
    margin-left: 710px;
    margin-top: 140px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.100px;
    text-transform: lowercase;
}
.contact-carousel .location-p3{
    color: #fff;
    margin-left: 710px;
    margin-top: 210px;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.contact-carousel .slick-slider div{
    height: 350px;
}
.contact-carousel .slick-slider {
    width: 340px !important;
    margin-left: 700px;
}
.contact-carousel
.slick-dots li.slick-active button:before {
    color: #333 !important;
}

.contact-carousel .slick-dots li button:before {
    color: #fff;
    font-size: 0.6rem !important;
    top: 3rem !important;
    left: -1.5rem;
}

.contact-carousel .slick-prev { 
    display: none;
    background: transparent;

}
.contact-carousel .slick-next{
    display: none;
    background: transparent;

}