*{
    margin: 0;
    padding: 0;

}

.service-nav-container{
    height: 110vh;
    width: 98.7vw;
    position: relative;
}
.service-nav-container img{
    position: relative;
    height:  110vh;
    width: 98.7vw;
    object-fit: cover;
    background-repeat: no-repeat;
}
.service-nav-container .logo{
    margin-top: -40px;
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/6ypK9Hs/image.png');
    cursor: pointer;
    height: 20vh; /* Adjust height as needed */
    width: 20vw; /* Adjust width as needed */
    background-size: 60%;
    top: 8%;
    left: 14%;
    background-repeat: no-repeat;
}

.nav-items{
    margin-top: -21px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.bars{
    display: none;
}
.nav-items .home{
cursor: pointer;

}
.nav-items .about{
    left: 43%;
    cursor: pointer
}
.nav-items .service{
    cursor: pointer;
    padding-top: 0px;
    margin-top: -10px;
}

.nav-items .portfolio{
    left: 60%;
}

.nav-items .blog{
    left: 68%;
}

.dropdown {
    position: relative;
    cursor: pointer;
}
.dropdown-content {
    background: #fff;
    height: 600px;
    width: 300px;
    position: absolute;
    z-index: 5;
    border-radius: 2px;
    margin-top: 85px;
    margin-left: 20px;
    
}

.dropdown-content li{
    list-style: none;
}

.dropdown-content .nav-service1{
    position: absolute;
    z-index: 3;
    color: #333;
    top: -2%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service2{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 9%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
    
}

.dropdown-content .nav-service3{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 20%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}

.dropdown-content .nav-service4{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 26%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service5{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 33%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service6{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 40%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service7{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 47%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service8{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 54%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service9{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 61%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service10{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 68%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service11{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 75%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service12{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 82%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service13{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 89%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}


.call-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 26px;
    position: absolute;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #233f81;
    z-index: 1;
    background: #fff;
    top: 6%;
    left: 78%;
}

.service-nav-container .banner-line{
    top: 23%;
    left: 9%;
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 255);
    margin-left: -120px;
    padding: 0px 673px 1px;
}

.service-heading h1{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 40%;
    color: hsl(0, 0%, 100%);
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}


@media only screen and (max-width: 1024px) {
    .logo{
        height: 100vh;
        width: 50vw;
        top: 11%;
        left: 10%;
        background-size: 25%;
    }
    #line1{
        top: 75%;
        left: 10%;
    }
    #line2{
        top: 75%;
        left: 20.5%;
    }
    #line3{
        top: 75%;
        left: 23%;
    }
    .banner-line{
        margin-left: -91px;
        padding-right: 339px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-container img{
        height:  100vh;
        width: 97.8vw;

    }
    .logo{
        height: 100vh;
        width: 50vw;
        top: 7%;
        background-size: 30%;
    }
    .nav-items{
     display: none;
    }
    .bars{
        display: flex;
        margin-left: 625px;
        margin-top: 30px;
        font-size: 36px;
        background: transparent;
        color: white;
        border: none;
        justify-content: flex-end;
        position: absolute;
        z-index: 2;
    }
    .banner-line{
        margin-top: -30px;
        margin-left: -100px;
        padding-right: 109px;
    }
    .banner-span{
        font-size: 35px;
    }
    .banner-half-h {
        position: absolute;
        z-index: 2;
        top: 90%;
        border-radius: 0px 12px 12px 0px;
        background: rgb(255, 255, 255);
        margin-left: -120px;
        padding: 40px 0px 40px 350px;
    }

    .banner-heading h1{
        font-size: 50px;
    }
    h1.digital {
        position: absolute;
        z-index: 3;
        color: #6C50B1;
        margin-top: -45px;
        margin-left: 100px;
    }
    .banner-heading .potential{
        font-size: 50px;
        margin-left: 25px;
    }
    #line1{
        top: 77%;
        left: 10%;
    }
    #line2{
        top: 77%;
        left: 24%;
    }
    #line3{
        top: 77%;
        left: 27%;
    }
    .btn-read{
        left: 10%;
        top: 86%;
    }
}
@media only screen and (max-width: 480px) {
    .logo{
        height: 100vh;
        width: 50vw;
        top: 7%;
        background-size: 45%;
    }
    .nav-items{
        display: none;
    }
    .banner-line{
        margin-top: 50px;
        margin-left: -57px;
        margin-right: 43px;
        padding: 0px 0px 1px;
    }
    .banner-span{
        font-size: 30px;
    }
    .banner-half-h {
        margin-left: -180px;
    }
    .banner-heading h1{
        font-size: 40px;
        
    }
    h1.digital {
        position: absolute;
        z-index: 3;
        color: #6C50B1;
        margin-top: -45px;
        margin-left: 150px;
    }
    .banner-heading .potential{
        font-size: 40px;
        margin-left: 15px;
    }
    #line1{
        top: 76%;
        left: 10%;
        padding: 0px 30px 4px;
    }
    #line2{
        top: 76%;
        left: 23%;
        padding: 0px 6px 4px;
    }
    #line3{
        top: 76%;
        left: 26%;
        padding: 0px 3px 4px;
    }
    .btn-read{
        left: 10%;
        font-size: 12px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .nav-container{
        width: 95vw;
    }
    .nav-container img{
        width: 95vw;
    }
    .logo{
        height: 100vh;
        width: 50vw;
        top: 8%;
        background-size: 55%;
    }
    .bars{
        display: none;
    }
    .banner-line{
        top: 10%;
        left: 0%;
        margin-top: 1px;
        margin-left: 283px;
        margin-right: 20px;
        padding: 0px 0px 1px;
        background: rgb(206, 12, 5);
    }
    .banner-span{
       font-size: 20px;
       top: 200px;
    }
    .banner-half-h {
        margin-left: -80px;
        top: 80px;
        padding: 40px 0px 40px 190px;
    }
    .banner-heading h1{
        top: 280px;
        font-size: 30px;
    }
    h1.digital {
        margin-top: -290px;
        margin-left: 50px;
        font-size: 30px;
    }
    .banner-heading .potential{
        font-size: 30px;
        margin-left: -12px;
        top: 70px;
    }
    #line1{
        top: 75%;
        left: 10%;
        padding: 0px 20px 4px;
    }
    #line2{
        top: 75%;
        left: 24%;
        padding: 0px 3px 4px;
    }
    #line3{
        top: 75%;
        left: 27%;
        padding: 0px 2px 4px;
    }
    .btn-read{
        left: 10%;
        font-size: 10px;
        padding-left: 15px;
    }
}