*{
    margin: 0;
    padding: 0;

}

.anav-container{
    height: 100vh;
    width: 98.7vw;
    position: relative;
}
.anav-container img{
    position: relative;
    height:  100vh;
    width: 98.7vw;
    object-fit: cover;
    background-repeat: no-repeat;
}
.alogo{
    margin-top: -40px;
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/WxpLfrH/image.png');
    height: 100vh;
    width: 50vw;
    top: 11%;
    left: 14%;
    cursor: pointer;
    background-size: 20%;
    background-repeat: no-repeat;
}

.anav-items{
    margin-top: -21px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anav-items li a{
    position: absolute;
    display: flex;
    z-index: 1;
    text-transform: capitalize;
    color: #fff;
    top: 9%;
    left: 36%;
    cursor: pointer;
    text-decoration: none;
}

.anav-items .about{
    left: 43%;
}
.anav-items .service{
    left: 52%;
}

.anav-items .portfolio{
    left: 60%;
}

.anav-items .blog{
    left: 68%;
}

.aquote-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 14px;
    padding: 10px 25px 10px 25px;
    position: absolute;
    border-radius: 60px;
    cursor: pointer;
    color: #fff;
    z-index: 1;
    outline: 1px solid #fff;
    background: transparent;
    top: 8%;
    left: 78%;
    box-shadow: inset 0 0 0 0 #233F81;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.aquote-btn:hover {
box-shadow: inset 0 0 0 50px #e6e1e4;
color: #233F81;
}

.abanner-line{
    top: 22%;
    left: 9%;
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 255);
    margin-left: -120px;
    padding: 0px 673px 1px;
}

.abanner-heading h1{
    position: absolute;
    z-index: 1;
    top: 45%;
    left: 40%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.5px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}

@media only screen and (max-width: 1024px) {
    .logo{
        height: 100vh;
        width: 50vw;
        top: 11%;
        left: 10%;
        background-size: 25%;
    }
    .banner-line{
        margin-left: -91px;
        padding-right: 339px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-container img{
        height:  100vh;
        width: 97.8vw;

    }
    .logo{
        height: 100vh;
        width: 50vw;
        top: 7%;
        background-size: 30%;
    }
    .nav-items{
     display: none;
    }

    .banner-line{
        margin-top: -30px;
        margin-left: -100px;
        padding-right: 109px;
    }
    
}
@media only screen and (max-width: 480px) {
    .logo{
        height: 100vh;
        width: 50vw;
        top: 7%;
        background-size: 45%;
    }
    .nav-items{
        display: none;
    }
    .banner-line{
        margin-top: 50px;
        margin-left: -57px;
        margin-right: 43px;
        padding: 0px 0px 1px;
    }
    
}

@media only screen and (max-width: 320px) {
    .nav-container{
        width: 95vw;
    }
    .nav-container img{
        width: 95vw;
    }
    .logo{
        height: 100vh;
        width: 50vw;
        top: 8%;
        background-size: 55%;
    }
    .banner-line{
        top: 10%;
        left: 0%;
        margin-top: 1px;
        margin-left: 283px;
        margin-right: 20px;
        padding: 0px 0px 1px;
        background: rgb(206, 12, 5);
    }
}