*{
    margin: 0;
    padding: 0;
}

.appsec4-container{
    height: 130vh;
    width: 98.7vw;
    background: #f1f4ff;
    position: relative;
}

.appsec4-container h1{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 5%;
    left: 55%;
    padding: 30px 5px 0px 0px;
    color: #333;
}
.appsec4-container p{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -1px;
    top: 30%;
    left: 55%;
    padding: 30px 50px 0px 0px;
    color: #333;
}

.appsec4-container .appbtn3{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 25px 10px 25px;
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
    color: #333;
    z-index: 1;
    outline: 1px solid #333;
    background: transparent;
    top: 90%;
    left: 50%;
    box-shadow: inset 0 0 0 0 #333;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.appsec4-container .appbtn3:hover {
    box-shadow: inset 0 0 0 50px #333;
    color: #fff;
}

.appsec4-container .right-img{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/GR3NByP/image.png');
    height: 600px;
    width: 600px;
    top: 10%;
    left: 5%;
    background-size: 80%;
    background-repeat: no-repeat;
}
.app4-visible-div{
    background: #47267F;
    height: 600px;
    width: 1000px;
    position: absolute;
    z-index: 5;
    top: 18%;
    left: 15%;
    border-radius: 70px;
}

.app4-visible-div img{
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 6;
    top: 20%;
    left: 1%;
    border-radius: 50px 0px 50px 0px;
}

.app4-visible-div .visible-p1{
    position: absolute;
    z-index: 5;
    top: 75%;
    left: -1%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1px;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 400px;
}

.app4-visible-div .visible-p2{
    position: absolute;
    z-index: 5;
    top: 15%;
    left: 60%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1px;
    text-transform: capitalize;
    padding-right: 20px;
}

.app4-visible-div .visible-p3{
    position: absolute;
    z-index: 5;
    top: 23%;
    left: 55%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: -1px;
    text-transform: inherit;
    padding-right: 20px;
}

.visible-contact-form{
    position: absolute;
    z-index: 5;
    top: 40%;
    left: 55%;
}

.visible-contact-form .full-name{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .email{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .phone-no{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .message-input{
    position: absolute;
    z-index: 5;
    height: 25px;
    width: 140px;
    color: #fff;
    font-size: 18px;
    top:110%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}

.visible-contact-form .submit-btn{
    position: absolute;
    z-index: 5;
    left: 25%;
    top: 180%;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #212457;
    background: #212457;
    color: #fff;


}

.visible-contact-form .btn-close{
    position: absolute;
    z-index: 5;
    left: 92%;
    top: -160%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid transparent;
    background: transparent;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {
    .right-vision{
        font-size: 20px;
        padding: 30px 0px 0px 530px;
    }
    #line1-vision{
        top: 115%;
        left: 52%;
        padding: 0px 30px 4px 30px;
    }
    #line2-vision{
        top: 115%;
        left: 58.2%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 115%;
        left: 60.5%;
        padding: 0px 5px 4px 5px;
    }
    .right-heading{
        font-size: 30px;
        padding: 14px 0px 1px 10px;
        margin: 1px 10px 12px 490px;
    }
    .right-p {
        font-size: 16px;
        padding: 0px 2px 1px 480px;
        margin: 17px 30px 12px 25px;
    }
    .btn-visionread{
        top: 205%;
        left: 50%;
    }
    .box{
        top: 117%;
        left: 4%;
        padding: 340px 200px 50px 100px;
    }
    .box1{
        top: 125%;
        left: 10%;
        padding: 340px 200px 50px 100px;
    }
    .vision-image{
        height: 100vh;
        width: 65vw;
        top: 112.9%;
        left: 10%;
    }
}
@media only screen and (max-width: 768px) {
  
    .right-vision{
        font-size: 20px;
        padding: 15px 0px 0px 395px;
    }
    #line1-vision{
        top: 117%;
        left: 52%;
        padding: 0px 25px 4px 30px;
    }
    #line2-vision{
        top: 117%;
        left: 59.6%;
        padding: 0px 5px 4px 10px;
    }
    #line3-vision{
        top: 117%;
        left: 61.9%;
        padding: 0px 5px 4px 5px;
    }
    .right-heading{
        font-size: 30px;
        padding: 14px 0px 1px 85px;
        margin: -10px 80px 12px 300px;
    }
    .right-p {
        font-size: 14px;
        padding: 0px 2px 1px 95px;
        margin: -8px 10px 12px 280px;
    }
    .btn-visionread{
        top: 209%;
        left: 50%;
    }
    .box{
        top: 117%;
        left: 4%;
        padding: 300px 150px 40px 100px;
    }
    .box1{
        top: 125%;
        left: 10%;
        padding: 300px 150px 40px 100px;
    }
    .vision-image{
        height: 60vh;
        width: 67vw;
        top: 125%;
        left: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .box{
        display: none;
    }
    .box1{
        display: none;
    }
    .vision-image{
        display: none;
    }    
    .right-vision{
        font-size: 17px;
        padding: 30px 0px 0px 190px;
    } 
    #line1-vision{
        top: 119%;
        left: 39%;
        padding: 0px 25px 4px 20px;
    }
    #line2-vision{
        top: 119%;
        left: 49%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 119%;
        left: 53.5%;
        padding: 0px 4px 4px 8px;
    }
    .right-heading{
        font-size: 20px;
        padding: 14px 0px 1px 10px;
        margin: 1px 80px 12px 50px;
    }

    .right-p {
        font-size: 14px;
        padding: 0px 9px 1px 10px;
        margin: 17px 25px 12px 35px;
    }
    .btn-visionread{
        top: 213%;
        font-size: 12px;
        left: 10%;
        padding-left: 15px;
    }
}
@media only screen and (max-width: 320px) {
    .vision-main{
        height: 70vh;
        width: 98.7vw;
    }
    .right-vision{
        font-size: 20px;
        padding: 10px 0px 0px 110px;
    } 
    #line1-vision{
        top: 116%;
        left: 36%;
        padding: 0px 30px 4px 10px;
    }
    #line2-vision{
        top: 116%;
        left: 50%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 116%;
        left: 57%;
        padding: 0px 4px 4px 8px;
    }
    .right-heading{
        font-size: 20px;
        padding: 14px 0px 1px 10px;
        margin: -18px 50px 12px 50px;
    }

    .right-p {
        font-size: 12px;
        padding: 0px 9px 1px 10px;
        margin: -5px 25px 12px 35px;
    }
    .btn-visionread{
        top: 228%;
        font-size: 12px;
        left: 13%;
        padding-left: 15px;
    }
}