*{
    margin: 0;
    padding: 0;
}

.passion-container{
    height: 120vh;
    width: 98.7vw;
    background: #f2f5ff;
    position: relative;
    margin-top: 0px;
}

.passion-container h1{
    position: absolute;
    z-index: 1;
    color: #464646;
    font-family: Poppins, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px; 
    letter-spacing: -1px;
    top: 8%;
    left: 30%;
}

.passion-carousel{
    box-sizing: border-box;
    padding: 5rem;
    height: 100vh;
}

.passion-card1{
    background: transparent;
    height: 420px;
    border-radius: 5px;
    border: 5px solid #fff;
    width: 360px !important;
    margin-left: 40px;
}
.passion-card1 .img1{
    height: 420px;
    width: 360px;
    border-radius: 5px; 
}

.passion-card2{
    background: transparent;
    height: 420px;
    border-radius: 5px;
    border: 5px solid #fff;
    width: 360px !important;
    margin-left: 10px;
}

.passion-card2 .img2{
    height: 420px;
    width: 360px;
    border-radius: 5px; 

}

.passion-card3{
    background: transparent;
    height: 420px;
    border-radius: 5px;
    border: 5px solid #fff;
    width: 360px !important;
    margin-left: -20px;
}

.passion-card3 .img3{
    height: 420px;
    width: 360px;
    border-radius: 5px; 

}

.passion-card4{
    background: transparent;
    height: 420px;
    border-radius: 5px;
    border: 5px solid #fff;
    width: 360px !important;
    margin-left: 40px;
}
.passion-card4 .img4{
    height: 420px;
    width: 360px;
    border-radius: 5px; 
}

.passion-card5{
    background: transparent;
    height: 420px;
    border-radius: 5px;
    border: 5px solid #fff;
    width: 360px !important;
    margin-left: 10px;
}

.passion-card5 .img5{
    height: 420px;
    width: 360px;
    border-radius: 5px; 

}

.passion-card6{
    background: transparent;
    height: 420px;
    border-radius: 5px;
    border: 5px solid #fff;
    width: 360px !important;
    margin-left: -20px;
}

.passion-card6 .img6{
    height: 420px;
    width: 360px;
    border-radius: 5px; 

}
.passion-carousel .slick-slider {
    width: 1200px !important;
    height: 500px;
}

.passion-carousel .slick-slide div{
    margin-top: 60px;
    width: 300px;
}

.passion-carousel .slick-dots li.slick-active button:before {
    color: #333 !important;
    
}
.passion-carousel .slick-dots li button:before {
    color: #c2c4cc;
    font-size: 0.5rem !important;
    top: 5rem !important;
}

.passion-carousel .slick-initialized .slick-slide {
    display: flex;
}

.passion-carousel .slick-prev {
    left: 0px;
    margin-left: -30px;
    background-color:#333 !important;
    border-radius: 10px;
}
.passion-carousel .slick-next{
    right: 0px;
    background-color: #333 !important;
    border-radius: 10px 10px 10px 10px;
}

@media only screen and (max-width: 1024px) {
        .service-heading1{
            left: 45%;
            top: 20%;
            font-size: 22px;
        }
        #line1-service{
            top: 30%;
            left: 44.6%;
            padding: 0px 45px 4px 20px;
        }
        #line2-service{
            top: 30%;
            left: 51.3%;
            padding: 0px 7px 4px 5px;
        }
        #line3-service{
            top: 30%;
            left: 52.6%;
            padding: 0px 6px 4px 3px;
        }
        .service-heading2{
            font-size: 35px;
            top: 37%;
            left: 30%;
        }
        .service-p{
            top: 47%;
            left: 20%;
            font-size: 13px;
            padding: 0px 5px 0px 0px;
            margin-left: -160px;
        }
        .carousel{
            box-sizing: border-box;
            padding: 5rem;
            height: 60vh;
            width: 0vw;
            margin-top: -350px;
            padding-left: 50px; 
        }
        
        .cards{
            height: 300px;
            width:90% !important;
        }
    
        .slick-slider {
            width: 900px !important;
        }
        .cards .circle{
            height: 90px;
            width: 90px;
            margin-left: 75px;
        }
        .cards img{
            height: 80px;
            width: 80px;
            top: 75%;
            left: 30%;
        }
        .cards .h1-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 30px;
           
        }
        .cards .p1-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 15.9%;
        }
        .cards .h2-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 50px;
           
        }
        .cards .p2-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 21.2%;
        }
        .cards .h3-ai{
            margin-top: 160px;
            font-size: 18px;
            margin-left: -2px;
            padding: 0px 0px 0px 7px;
        }
        .cards .p3-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 26.5%;
        }
        .cards .h4-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 30px;
        }
        .cards .p4-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 31.7%;
        }
        .cards .h5-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 36px;
        }
        .cards .p5-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 37%;
        }
        .cards .h6-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 50px;
        }
        .cards .p6-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 42.3%;
        }
        .cards .h7-ai{
            margin-top: 160px;
            margin-left: -53px;
            padding: 0px 0px 0px 60px;
            font-size: 18px;
        }
        .cards .p7-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 47.5%;
        }
        .cards .h8-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 40px;
        }
        .cards .p8-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 52.8%;
        }
}

@media only screen and (max-width: 768px) {
    
    .service-container{
        height: 150vh;
        width: 98.7vw;
    }
    
    .service-container img{
        height: 150vh;
        width: 98.7vw;
    }

    .service-heading1{
        left: 45%;
        top: 40%;
        font-size: 20px;
    }
    #line1-service{
        top: 47%;
        left: 44%;
        padding: 0px 50px 4px 10px;
    }
    #line2-service{
        top: 47%;
        left: 52.3%;
        padding: 0px 10px 4px 5px;
    }
    #line3-service{
        top: 47%;
        left: 54.7%;
        padding: 0px 5px 4px 3px;
    }
    .service-heading2{
        font-size: 40px;
        top: 50%;
        left: 22%;
    }
    .service-p{
        top: 57%;
        left: 20%;
        font-size: 18px;
        padding: 0px 5px 0px 0px;
        margin-left: -140px;
    }
    .carousel{
        box-sizing: border-box;
        padding: 5rem;
        height: 60vh;
        width: 0vw;
        margin-top: -350px;
        padding-left: 50px; 
    }
    
    .cards{
        height: 300px;
        width:90% !important;
    }

    .slick-slider {
        width: 670px !important;
    }
    .cards .circle{
        height: 90px;
        width: 90px;
        margin-left: 85px;
    }
    .cards img{
        height: 85px;
        width: 85px;
        top: 75%;
        left: 30%;
    }
    .cards .h1-ai{
        margin-top: 160px;
        margin-left: 45px;
        font-size: 20px;
    }
    .cards .p1-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 0.4%;
    }
    .cards .h2-ai{
        margin-top: 160px;
        margin-left: 70px;
        font-size: 20px;
    }
    .cards .p2-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 12.8%;
    }
    .cards .h3-ai{
        margin-top: 160px;
        margin-left: 10px;
        padding: 0px 0px 0px 7px;
        font-size: 19px;
    }
    .cards .p3-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 25.4%;
    }
    .cards .h4-ai{
        margin-top: 160px;
        margin-left: 50px;
        font-size: 20px;
    }
    .cards .p4-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 37.9%;
    }
    .cards .h5-ai{
        margin-top: 160px;
        margin-left: 35px;
        font-size: 20px;
    }
    .cards .p5-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 50.3%;
    }
    .cards .h6-ai{
        margin-top: 160px;
        margin-left: 70px;
        font-size: 20px;
    }
    .cards .p6-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 62.9%;
    }
    .cards .h7-ai{
        margin-top: 160px;
        margin-left: -45px;
        padding: 0px 0px 0px 60px;
        font-size: 19px;
    }
    .cards .p7-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 75.3%;
    }
    .cards .h8-ai{
        margin-top: 160px;
        margin-left: 60px;
        font-size: 20px;
    }
    .cards .p8-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 87.9%;
    }
}

@media only screen and (max-width: 480px) {
    
    .service-heading1{
        left: 45%;
        top: 40%;
        font-size: 18px;
    }
    #line1-service{
        top: 47%;
        left: 44.6%;
        padding: 0px 35px 4px 10px;
    }
    #line2-service{
        top: 47%;
        left: 54.5%;
        padding: 0px 5px 4px 10px;
    }
    #line3-service{
        top: 47%;
        left: 58%;
        padding: 0px 5px 4px 3px;
    }
    .service-heading2{
        font-size: 30px;
        top: 50%;
        left: 15%;
    }
    .service-p{
        top: 57%;
        left: 20%;
        font-size: 12px;
        padding: 0px 18px 0px 0px;
        margin-left: -80px;
    }
    .carousel{
        box-sizing: border-box;
        padding: 5rem;
        height: 60vh;
        width: 0vw;
        margin-top: -350px;
        padding-left: 50px; 
    }
    
    .cards{
        height: 300px;
        width:90% !important;
    }

    .slick-slider {
        width: 370px !important;
    }
    .cards .circle{
        height: 90px;
        width: 90px;
        margin-left: 100px;
    }
    .cards img{
        height: 100px;
        width: 100px;
        top: 70%;
        left: 30%;
    }
    .cards .h1-ai{
        margin-top: 160px;
        margin-left: 60px;
        font-size: 20px;
    }
    .cards .p1-ai{
        font-size: 15px;
        margin-top: 210px;
        left: 0.6%;
    }
    .cards .h2-ai{
        margin-top: 160px;
        margin-left: 90px;
        font-size: 18px;
    }
    .cards .p2-ai{
        font-size: 15px;
        margin-top: 210px;
        left: 13.5%;
    }
    .cards .h3-ai{
        margin-top: 160px;
        margin-left: -2px;
        padding: 0px 0px 0px 35px;
        font-size: 18px;
    }
    .cards .p3-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 25.7%;
    }
    .cards .h4-ai{
        margin-top: 160px;
        margin-left: 70px;
        font-size: 18px;
    }
    .cards .p4-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 38.3%;
    }
    .cards .h5-ai{
        margin-top: 160px;
        margin-left: 75px;
        font-size: 18px;
    }
    .cards .p5-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 50.7%;
    }
    .cards .h6-ai{
        margin-top: 160px;
        margin-left: 100px;
        font-size: 18px;
    }
    .cards .p6-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 63.2%;
    }
    .cards .h7-ai{
        margin-top: 160px;
        margin-left: -50px;
        padding: 0px 0px 0px 85px;
        font-size: 18px;
    }
    .cards .p7-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 75.8%;
    }
    .cards .h8-ai{
        margin-top: 160px;
        margin-left: 70px;
        font-size: 18px;
    }
    .cards .p8-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 88.1%;
    }
}

@media only screen and (max-width: 320px) {
    .service-heading1{
        left: 35%;
        top: 48%;
        font-size: 18px;
    }
    #line1-service{
        top: 55%;
        left: 35%;
        padding: 0px 30px 4px 10px;
    }
    #line2-service{
        top: 55%;
        left: 49%;
        padding: 0px 5px 4px 5px;
    }
    #line3-service{
        top: 55%;
        left: 53%;
        padding: 0px 4px 4px 3px;
    }
    .service-heading2{
        font-size: 20px;
        top: 58%;
        left: 15%;
    }
    .service-p{
        top: 65%;
        left: 30%;
        font-size: 10.5px;
        padding: 0px 18px 0px 0px;
        margin-left: -80px;
    }
    .carousel{
        box-sizing: border-box;
        padding: 9rem;
        height: 90vh;
        width: 0vw;
        margin-top: -350px;
        padding-left: 50px; 
    }
    
    .cards{
        height: 300px;
        width:90% !important;
    }

    .slick-slider {
        width: 220px !important;
    }
    .cards .circle{
        height: 70px;
        width: 70px;
        margin-left: 50px;
    }
    .cards img{
        height: 60px;
        width: 60px;
        top: 90%;
        left: 35%;
    }
    .cards .h1-ai{
        margin-top: 150px;
        margin-left: 20px;
        font-size: 17px;
    }
    .cards .p1-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 0.2%;
    }
    .cards .h2-ai{
        margin-top: 150px;
        margin-left: 40px;
        font-size: 17px;
    }
    .cards .p2-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 12.6%;
    }
    .cards .h3-ai{
        margin-top: 150px;
        margin-left: -38px;
        padding: 0px 0px 0px 40px;
        font-size: 14px;
    }
    .cards .p3-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 25.2%;
    }
    .cards .h4-ai{
        margin-top: 150px;
        margin-left: 20px;
        font-size: 17px;
    }
    .cards .p4-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 37.7%;
    }
    .cards .h5-ai{
        margin-top: 150px;
        margin-left: 20px;
        font-size: 17px;
    }
    .cards .p5-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 50.2%;
    }
    .cards .h6-ai{
        margin-top: 150px;
        margin-left: 30px;
        font-size: 17px;
    }
    .cards .p6-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 62.6%;
    }
    .cards .h7-ai{
        margin-top: 150px;
        margin-left: -84px;
        padding: 0px 0px 0px 85px;
        font-size: 14px;
    }
    .cards .p7-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 75.2%;
    }
    .cards .h8-ai{
        margin-top: 150px;
        margin-left: 20px;
        font-size: 17px;
    }
    .cards .p8-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 87.8%;
    }
}