*{
    margin: 0;
    padding: 0;
}

.appprocess-container{
    height: 150vh;
    width: 98.7vw;
    background: #eceefe;
    position: relative;
}

.appprocess-h1{
    top: 6%;
    left: 7%;
    font-size: 40px;
    color: #333;
    position: absolute;
    z-index: 2;
}
.appprocess-p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top: 15%;
    left: 3%;
    padding: 0 200px 0px 100px;
    font-size: 20px;
    color: #333;
    position: absolute;
    z-index: 2;
}
.resea-grid{
    position: absolute;
    z-index: 2;
    left: 1%; 
    top: 30%;
}

.resea-grid .resea-img{
    position: absolute;
    top: 4%;
    left: 40%;
    height: 60px;
    width: 60px;
}

.resea{
    font-size: 30px;
    color: #fff;
    padding-top: 12px;
}
.resea-p{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px -50px;
    padding: 40px 0px 0px 0px;
}
.uiux-grid{
    position: absolute;
    z-index: 2;
    left: 26%; 
    top: 30%;
}

.uiux-grid .uiux-img{
    position: absolute;
    top: 4%;
    left: 37%;
    height: 60px;
    width: 60px;
}

.uiux{
    font-size: 30px;
    color: #fff;
    padding-top: 12px;
    margin-left: -10px;
}

.uiux-p{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px -50px;
    padding: 40px 0px 0px 0px;
}
.deve-grid{
    position: absolute;
    z-index: 2;
    left: 51%; 
    top: 30%;
}

.deve-grid .deve-img{
    position: absolute;
    top: 4%;
    left: 40%;
    height: 60px;
    width: 60px;
}
.deve{
    font-size: 30px;
    color: #fff;
    padding-top: 12px;
}

.deve-p{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px -50px;
    padding: 40px 0px 0px 0px;
}
.qa-launch-grid{
    position: absolute;
    z-index: 2;
    left: 76%; 
    top: 30%;
}

.qa-launch-grid .qa-launch-img{
    position: absolute;
    top: 4%;
    left: 40%;
    height: 60px;
    width: 60px;
}

.qa-launch{
    font-size: 30px;
    color: #fff;
    padding-top: 12px;
}

.qa-launch-p{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px -50px;
    padding: 40px 0px 0px 0px;
}
