*{
    margin: 0;
    padding: 0;
}

.revamp-container{
    height: 150vh;
    width: 98.7vw;
    background: #E9EEFF;
    position: relative;
}

.revamp-container h1{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    letter-spacing: -1px;
    top: 5%;
    left: 9%;
    color: #333;
}
.revamp-container p{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: -1px;
    top: 12%;
    left: 10%;
    padding-right: 100px;
    color: #333;
}
.rev-img{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/R0F08Bn/image.png');
    height: 700px;
    width: 700px;
    top: 20%;
    left: 45%;
    background-size: 100%;
    background-repeat: no-repeat;
}
.revamp-container .lang{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    letter-spacing: -1px;
    top: 23%;
    left: 5%;
    color: #333;
}
.lang-box1{
    top: 30%;
    left: 5%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.lang-img1{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/yfsCtD9/image.png');
    height: 60px;
    width: 60px;
    top: 31%;
    left: 6%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.lang-box2{
    top: 30%;
    left: 13%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.lang-img2{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/5jYZ92h/image.png');
    height: 60px;
    width: 60px;
    top: 31%;
    left: 14%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.lang-box3{
    top: 30%;
    left: 21%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.lang-img3{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/LtZ95fL/image.png');
    height: 60px;
    width: 60px;
    top: 31%;
    left: 22%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.lang-box4{
    top: 40%;
    left: 5%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.lang-img4{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/Prt3BjV/image.png');
    height: 60px;
    width: 60px;
    top: 41%;
    left: 6%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.lang-box5{
    top: 40%;
    left: 13%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.lang-img5{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/wSF9dLp/image.png');
    height: 60px;
    width: 60px;
    top: 41%;
    left: 14%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.revamp-container .data{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    letter-spacing: -1px;
    top: 50%;
    left: 5%;
    color: #333;
}
.data-box1{
    top: 57%;
    left: 5%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.data-img1{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/ZzJ6c5Y/image.png');
    height: 60px;
    width: 60px;
    top: 58%;
    left: 6%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.data-box2{
    top:57%;
    left: 13%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.data-img2{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/37nDMjV/image.png');
    height: 60px;
    width: 60px;
    top: 58%;
    left: 14%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.data-box3{
    top: 57%;
    left: 21%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.data-img3{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/DVZGxQ0/image.png');
    height: 60px;
    width: 60px;
    top:58%;
    left: 22%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.data-box4{
    top: 67%;
    left: 5%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.data-img4{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/Jr9mLsq/image.png');
    height: 60px;
    width: 60px;
    top: 68%;
    left: 6%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.data-box5{
    top: 67%;
    left: 13%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #E9EEFF;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.data-img5{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/Wz7Fnfv/image.png');
    height: 60px;
    width: 60px;
    top: 68%;
    left: 14%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.revamp-container .fram{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    letter-spacing: -1px;
    top: 77%;
    left: 5%;
    color: #333;
}
.fram-box1{
    top: 85%;
    left: 5%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #e9eeff;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.fram-img1{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/XVdfmGw/image.png');
    height: 60px;
    width: 60px;
    top: 86%;
    left: 6%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.fram-box2{
    top: 85%;
    left: 13%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #e9eeff;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.fram-img2{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/pjLy1Wm/image.png');
    height: 60px;
    width: 60px;
    top: 86%;
    left: 14%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.fram-box3{
    top: 85%;
    left: 21%;
    position: absolute;
    z-index: 1;
    border: 2px solid #e9eeff;
    border-radius: 15px;
    background-color: #e9eeff;
    padding: 20px 60px 30px 20px;
    box-shadow:  0px 0px 4px 4px #d6e0ff;
}
.fram-img3{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/GW6dpZH/image.png');
    height: 60px;
    width: 60px;
    top: 86%;
    left: 22%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
}


@media only screen and (max-width: 1024px) {
    .right-vision{
        font-size: 20px;
        padding: 30px 0px 0px 530px;
    }
    #line1-vision{
        top: 115%;
        left: 52%;
        padding: 0px 30px 4px 30px;
    }
    #line2-vision{
        top: 115%;
        left: 58.2%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 115%;
        left: 60.5%;
        padding: 0px 5px 4px 5px;
    }
    .right-heading{
        font-size: 30px;
        padding: 14px 0px 1px 10px;
        margin: 1px 10px 12px 490px;
    }
    .right-p {
        font-size: 16px;
        padding: 0px 2px 1px 480px;
        margin: 17px 30px 12px 25px;
    }
    .btn-visionread{
        top: 205%;
        left: 50%;
    }
    .box{
        top: 117%;
        left: 4%;
        padding: 340px 200px 50px 100px;
    }
    .box1{
        top: 125%;
        left: 10%;
        padding: 340px 200px 50px 100px;
    }
    .vision-image{
        height: 100vh;
        width: 65vw;
        top: 112.9%;
        left: 10%;
    }
}
@media only screen and (max-width: 768px) {
  
    .right-vision{
        font-size: 20px;
        padding: 15px 0px 0px 395px;
    }
    #line1-vision{
        top: 117%;
        left: 52%;
        padding: 0px 25px 4px 30px;
    }
    #line2-vision{
        top: 117%;
        left: 59.6%;
        padding: 0px 5px 4px 10px;
    }
    #line3-vision{
        top: 117%;
        left: 61.9%;
        padding: 0px 5px 4px 5px;
    }
    .right-heading{
        font-size: 30px;
        padding: 14px 0px 1px 85px;
        margin: -10px 80px 12px 300px;
    }
    .right-p {
        font-size: 14px;
        padding: 0px 2px 1px 95px;
        margin: -8px 10px 12px 280px;
    }
    .btn-visionread{
        top: 209%;
        left: 50%;
    }
    .box{
        top: 117%;
        left: 4%;
        padding: 300px 150px 40px 100px;
    }
    .box1{
        top: 125%;
        left: 10%;
        padding: 300px 150px 40px 100px;
    }
    .vision-image{
        height: 60vh;
        width: 67vw;
        top: 125%;
        left: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .box{
        display: none;
    }
    .box1{
        display: none;
    }
    .vision-image{
        display: none;
    }    
    .right-vision{
        font-size: 17px;
        padding: 30px 0px 0px 190px;
    } 
    #line1-vision{
        top: 119%;
        left: 39%;
        padding: 0px 25px 4px 20px;
    }
    #line2-vision{
        top: 119%;
        left: 49%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 119%;
        left: 53.5%;
        padding: 0px 4px 4px 8px;
    }
    .right-heading{
        font-size: 20px;
        padding: 14px 0px 1px 10px;
        margin: 1px 80px 12px 50px;
    }

    .right-p {
        font-size: 14px;
        padding: 0px 9px 1px 10px;
        margin: 17px 25px 12px 35px;
    }
    .btn-visionread{
        top: 213%;
        font-size: 12px;
        left: 10%;
        padding-left: 15px;
    }
}
@media only screen and (max-width: 320px) {
    .vision-main{
        height: 70vh;
        width: 98.7vw;
    }
    .right-vision{
        font-size: 20px;
        padding: 10px 0px 0px 110px;
    } 
    #line1-vision{
        top: 116%;
        left: 36%;
        padding: 0px 30px 4px 10px;
    }
    #line2-vision{
        top: 116%;
        left: 50%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 116%;
        left: 57%;
        padding: 0px 4px 4px 8px;
    }
    .right-heading{
        font-size: 20px;
        padding: 14px 0px 1px 10px;
        margin: -18px 50px 12px 50px;
    }

    .right-p {
        font-size: 12px;
        padding: 0px 9px 1px 10px;
        margin: -5px 25px 12px 35px;
    }
    .btn-visionread{
        top: 228%;
        font-size: 12px;
        left: 13%;
        padding-left: 15px;
    }
}