*{
    margin: 0;
    padding: 0;
}

.appservice-container{
    height: 120vh;
    width: 98.7vw;
    background: #eceefe;
    position: relative;
    margin-top: 0px;
}

.appservice-container h1{
    position: absolute;
    z-index: 1;
    color: #464646;
    font-family: Poppins, sans-serif;
    font-size: 49px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px; 
    letter-spacing: -1px;
    top: 8%;
    left: 5%;
}
.appservice-container p{
    position: absolute;
    z-index: 1;
    color: #616163;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 131.492% */
    letter-spacing: -0.331px;
    top: 18%;
    left: 2%;
    padding: 0px 50px 0px 0px ;
}

.app-carousel{
    box-sizing: border-box;
    padding: 5rem;
    height: 100vh;
}

.app-cards{
    background: transparent;
    height: 400px;
    border-radius: 5px;
    border: 2px solid #333;
    width: 350px !important;

}

.app-cards:hover {
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
}
.app-cards .h1-ai{
    font-size: 30px;
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
    color: #333;
}
.app-cards .h1-ai:hover{
    color: #fff;
    
}
.app-cards .p1-ai{
   position: absolute;
   z-index: 3;
   color: #616163;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 15.21px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 131.492% */
   letter-spacing: -0.331px;
   left: 16.1%;
   margin: 250px 2500px 0px -20px;
   padding: 0px 3547px 0px 0px;
}

.app-cards .h2-ai{
    font-size: 27px;
    position: absolute;
    margin-top: 150px;
    margin-left: 7px;
    color: #333;
}
.app-cards .h2-ai:hover{
    color: #fff;
    
}
.app-cards .p2-ai{
   position: absolute;
   z-index: 3;
   margin-top: 180px; 
   color: #616163;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 15.21px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 131.492% */
   letter-spacing: -0.331px;
   left: 21.3%;
   margin: 250px 2520px 0px -10px;
   padding: 0px 3143px 0px 0px;
}
.app-cards .h3-ai{
    font-size: 30px;
    position: absolute;
    margin-top: 150px;
    margin-left: 45px;
    color: #333;
}
.app-cards .h3-ai:hover{
    color: #fff;
    
}
.app-cards .p3-ai{
   position: absolute;
   z-index: 3;
   color: #616163;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 15.21px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 131.492% */
   letter-spacing: -0.331px;
   left: 27%;
   margin: 255px 2400px 0px -40px;
   padding: 0px 2860px 0px 0px;
}

.app-cards .h4-ai{
    font-size: 30px;
    position: absolute;
    margin-top: 150px;
    margin-left: 55px;
    color: #333;
}
.app-cards .h4-ai:hover{
    color: #fff;
    
}
.app-cards .p4-ai{
   position: absolute;
   z-index: 3;
   color: #616163;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 15.21px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 131.492% */
   letter-spacing: -0.331px;
   left: 35%;
   margin: 260px 2400px 0px -250px;
   padding: 0px 2455px 0px 0px;
}

.app-cards .h5-ai{
    font-size: 30px;
    position: absolute;
    margin-top: 150px;
    margin-left: 60px;
    color: #333;
}
.app-cards .h5-ai:hover{
    color: #fff;
    
}
.app-cards .p5-ai{
   position: absolute;
   z-index: 3;
   margin-top: 180px; 
   color: #616163;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 15px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 131.492% */
   letter-spacing: -0.331px;
   left: 40%;
   margin: 260px 2400px 0px -235px;
   padding: 0px 2050px 0px 0px;
}

.app-cards .h6-ai{
    font-size: 30px;
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
    color: #333;
}
.app-cards .h6-ai:hover{
    color: #fff;
    
}
.app-cards .p6-ai{
   position: absolute;
   z-index: 3;
   margin-top: 180px; 
   color: #616163;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 15.21px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 131.492% */
   letter-spacing: -0.331px;
   left: 45%;
   margin: 250px 2400px 0px -220px;
   padding: 0px 1660px 0px 0px;
}
.app-cards .h7-ai{
    font-size: 30px;
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
    color: #333;
}
.app-cards .h7-ai:hover{
    color: #fff;
    
}
.app-cards .p7-ai{
   position: absolute;
   z-index: 3;
   margin-top: 180px; 
   color: #616163;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 15.21px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 131.492% */
   letter-spacing: -0.331px;
   left: 50%;
   margin: 250px 2400px 0px -195px;
   padding: 0px 1250px 0px 0px;
}

.app-cards .h8-ai{
    font-size: 30px;
    position: absolute;
    margin-top: 150px;
    margin-left: 10px;
    color: #333;
}
.app-cards .h8-ai:hover{
    color: #fff;
    
}
.app-cards .p8-ai{
   position: absolute;
   z-index: 3;
   margin-top: 180px; 
   color: #616163;
   text-align: center;
   font-family: Poppins, sans-serif;
   font-size: 15.21px;
   font-style: normal;
   font-weight: 400;
   line-height: 20px; /* 131.492% */
   letter-spacing: -0.331px;
   left: 55%;
   margin: 250px 2400px 0px -175px;
   padding: 0px 850px 0px 0px;
}

.app-cards .img1{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    top: 25%;
    left: 16%;
    -webkit-filter: brightness(100%);
}
.app-cards .img2{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    top: 25%;
    left: 21.3%;
    -webkit-filter: brightness(100%);
    
}

.app-cards .img3{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    top: 25%;
    left: 26.5%;
    -webkit-filter: brightness(100%);
    
}

.app-cards .img4{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    top: 25%;
    left: 31.8%;
    -webkit-filter: brightness(100%);
    
}
.app-cards .img5{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    top: 25%;
    left: 37.1%;
    -webkit-filter: brightness(100%);
    
}
.app-cards .img6{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    top: 25%;
    left: 42.4%;
    -webkit-filter: brightness(100%);
    
}
.app-cards .img7{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    top: 25%;
    left: 47.6%;
    -webkit-filter: brightness(100%);
    
}
.app-cards .img8{
    position: absolute;
    z-index: 3;
    height: 90px;
    width: 90px;
    top: 25%;
    left: 53%;
    -webkit-filter: brightness(100%);
    
}
.app-cards img:hover{
    box-shadow:
1px 1px #8298ff,
2px 2px #8298ff,
3px 3px #8298ff,
4px 4px #8298ff,
5px 5px #8298ff,
6px 6px #8298ff;
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
transition: .5s ease;
-webkit-filter: brightness(50%);
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
transition: all 0.5s ease;

}

.app-carousel .slick-slider {
    width: 1200px !important;
}

.app-carousel .slick-slide div{
    margin-top:60px;
    width: 500px;
}

.app-carousel .slick-dots li.slick-active button:before {
    color: #3C4B90 !important;
    
}
.app-carousel .slick-dots li button:before {
    color: #DDE3FF;
    font-size: 1rem !important;
    top: 2rem !important;
}

.app-carousel .slick-initialized .slick-slide {
    display: flex;
}

.app-carousel .slick-prev {
    left: 0px;
    margin-left: -30px;
    background-color:#434395 !important;
    border-radius: 10px;
}
.app-carousel .slick-next{
    right: 0px;
    background-color: #434395 !important;
    border-radius: 10px 10px 10px 10px;
}

@media only screen and (max-width: 1024px) {
        .service-heading1{
            left: 45%;
            top: 20%;
            font-size: 22px;
        }
        #line1-service{
            top: 30%;
            left: 44.6%;
            padding: 0px 45px 4px 20px;
        }
        #line2-service{
            top: 30%;
            left: 51.3%;
            padding: 0px 7px 4px 5px;
        }
        #line3-service{
            top: 30%;
            left: 52.6%;
            padding: 0px 6px 4px 3px;
        }
        .service-heading2{
            font-size: 35px;
            top: 37%;
            left: 30%;
        }
        .service-p{
            top: 47%;
            left: 20%;
            font-size: 13px;
            padding: 0px 5px 0px 0px;
            margin-left: -160px;
        }
        .carousel{
            box-sizing: border-box;
            padding: 5rem;
            height: 60vh;
            width: 0vw;
            margin-top: -350px;
            padding-left: 50px; 
        }
        
        .cards{
            height: 300px;
            width:90% !important;
        }
    
        .slick-slider {
            width: 900px !important;
        }
        .cards .circle{
            height: 90px;
            width: 90px;
            margin-left: 75px;
        }
        .cards img{
            height: 80px;
            width: 80px;
            top: 75%;
            left: 30%;
        }
        .cards .h1-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 30px;
           
        }
        .cards .p1-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 15.9%;
        }
        .cards .h2-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 50px;
           
        }
        .cards .p2-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 21.2%;
        }
        .cards .h3-ai{
            margin-top: 160px;
            font-size: 18px;
            margin-left: -2px;
            padding: 0px 0px 0px 7px;
        }
        .cards .p3-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 26.5%;
        }
        .cards .h4-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 30px;
        }
        .cards .p4-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 31.7%;
        }
        .cards .h5-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 36px;
        }
        .cards .p5-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 37%;
        }
        .cards .h6-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 50px;
        }
        .cards .p6-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 42.3%;
        }
        .cards .h7-ai{
            margin-top: 160px;
            margin-left: -53px;
            padding: 0px 0px 0px 60px;
            font-size: 18px;
        }
        .cards .p7-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 47.5%;
        }
        .cards .h8-ai{
            margin-top: 160px;
            font-size: 20px;
            margin-left: 40px;
        }
        .cards .p8-ai{
            font-size: 13.5px;
            margin-top: 210px;
            left: 52.8%;
        }
}

@media only screen and (max-width: 768px) {
    
    .service-container{
        height: 150vh;
        width: 98.7vw;
    }
    
    .service-container img{
        height: 150vh;
        width: 98.7vw;
    }

    .service-heading1{
        left: 45%;
        top: 40%;
        font-size: 20px;
    }
    #line1-service{
        top: 47%;
        left: 44%;
        padding: 0px 50px 4px 10px;
    }
    #line2-service{
        top: 47%;
        left: 52.3%;
        padding: 0px 10px 4px 5px;
    }
    #line3-service{
        top: 47%;
        left: 54.7%;
        padding: 0px 5px 4px 3px;
    }
    .service-heading2{
        font-size: 40px;
        top: 50%;
        left: 22%;
    }
    .service-p{
        top: 57%;
        left: 20%;
        font-size: 18px;
        padding: 0px 5px 0px 0px;
        margin-left: -140px;
    }
    .carousel{
        box-sizing: border-box;
        padding: 5rem;
        height: 60vh;
        width: 0vw;
        margin-top: -350px;
        padding-left: 50px; 
    }
    
    .cards{
        height: 300px;
        width:90% !important;
    }

    .slick-slider {
        width: 670px !important;
    }
    .cards .circle{
        height: 90px;
        width: 90px;
        margin-left: 85px;
    }
    .cards img{
        height: 85px;
        width: 85px;
        top: 75%;
        left: 30%;
    }
    .cards .h1-ai{
        margin-top: 160px;
        margin-left: 45px;
        font-size: 20px;
    }
    .cards .p1-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 0.4%;
    }
    .cards .h2-ai{
        margin-top: 160px;
        margin-left: 70px;
        font-size: 20px;
    }
    .cards .p2-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 12.8%;
    }
    .cards .h3-ai{
        margin-top: 160px;
        margin-left: 10px;
        padding: 0px 0px 0px 7px;
        font-size: 19px;
    }
    .cards .p3-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 25.4%;
    }
    .cards .h4-ai{
        margin-top: 160px;
        margin-left: 50px;
        font-size: 20px;
    }
    .cards .p4-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 37.9%;
    }
    .cards .h5-ai{
        margin-top: 160px;
        margin-left: 35px;
        font-size: 20px;
    }
    .cards .p5-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 50.3%;
    }
    .cards .h6-ai{
        margin-top: 160px;
        margin-left: 70px;
        font-size: 20px;
    }
    .cards .p6-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 62.9%;
    }
    .cards .h7-ai{
        margin-top: 160px;
        margin-left: -45px;
        padding: 0px 0px 0px 60px;
        font-size: 19px;
    }
    .cards .p7-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 75.3%;
    }
    .cards .h8-ai{
        margin-top: 160px;
        margin-left: 60px;
        font-size: 20px;
    }
    .cards .p8-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 87.9%;
    }
}

@media only screen and (max-width: 480px) {
    
    .service-heading1{
        left: 45%;
        top: 40%;
        font-size: 18px;
    }
    #line1-service{
        top: 47%;
        left: 44.6%;
        padding: 0px 35px 4px 10px;
    }
    #line2-service{
        top: 47%;
        left: 54.5%;
        padding: 0px 5px 4px 10px;
    }
    #line3-service{
        top: 47%;
        left: 58%;
        padding: 0px 5px 4px 3px;
    }
    .service-heading2{
        font-size: 30px;
        top: 50%;
        left: 15%;
    }
    .service-p{
        top: 57%;
        left: 20%;
        font-size: 12px;
        padding: 0px 18px 0px 0px;
        margin-left: -80px;
    }
    .carousel{
        box-sizing: border-box;
        padding: 5rem;
        height: 60vh;
        width: 0vw;
        margin-top: -350px;
        padding-left: 50px; 
    }
    
    .cards{
        height: 300px;
        width:90% !important;
    }

    .slick-slider {
        width: 370px !important;
    }
    .cards .circle{
        height: 90px;
        width: 90px;
        margin-left: 100px;
    }
    .cards img{
        height: 100px;
        width: 100px;
        top: 70%;
        left: 30%;
    }
    .cards .h1-ai{
        margin-top: 160px;
        margin-left: 60px;
        font-size: 20px;
    }
    .cards .p1-ai{
        font-size: 15px;
        margin-top: 210px;
        left: 0.6%;
    }
    .cards .h2-ai{
        margin-top: 160px;
        margin-left: 90px;
        font-size: 18px;
    }
    .cards .p2-ai{
        font-size: 15px;
        margin-top: 210px;
        left: 13.5%;
    }
    .cards .h3-ai{
        margin-top: 160px;
        margin-left: -2px;
        padding: 0px 0px 0px 35px;
        font-size: 18px;
    }
    .cards .p3-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 25.7%;
    }
    .cards .h4-ai{
        margin-top: 160px;
        margin-left: 70px;
        font-size: 18px;
    }
    .cards .p4-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 38.3%;
    }
    .cards .h5-ai{
        margin-top: 160px;
        margin-left: 75px;
        font-size: 18px;
    }
    .cards .p5-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 50.7%;
    }
    .cards .h6-ai{
        margin-top: 160px;
        margin-left: 100px;
        font-size: 18px;
    }
    .cards .p6-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 63.2%;
    }
    .cards .h7-ai{
        margin-top: 160px;
        margin-left: -50px;
        padding: 0px 0px 0px 85px;
        font-size: 18px;
    }
    .cards .p7-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 75.8%;
    }
    .cards .h8-ai{
        margin-top: 160px;
        margin-left: 70px;
        font-size: 18px;
    }
    .cards .p8-ai{
        font-size: 15px;
        margin-top: 200px;
        left: 88.1%;
    }
}

@media only screen and (max-width: 320px) {
    .service-heading1{
        left: 35%;
        top: 48%;
        font-size: 18px;
    }
    #line1-service{
        top: 55%;
        left: 35%;
        padding: 0px 30px 4px 10px;
    }
    #line2-service{
        top: 55%;
        left: 49%;
        padding: 0px 5px 4px 5px;
    }
    #line3-service{
        top: 55%;
        left: 53%;
        padding: 0px 4px 4px 3px;
    }
    .service-heading2{
        font-size: 20px;
        top: 58%;
        left: 15%;
    }
    .service-p{
        top: 65%;
        left: 30%;
        font-size: 10.5px;
        padding: 0px 18px 0px 0px;
        margin-left: -80px;
    }
    .carousel{
        box-sizing: border-box;
        padding: 9rem;
        height: 90vh;
        width: 0vw;
        margin-top: -350px;
        padding-left: 50px; 
    }
    
    .cards{
        height: 300px;
        width:90% !important;
    }

    .slick-slider {
        width: 220px !important;
    }
    .cards .circle{
        height: 70px;
        width: 70px;
        margin-left: 50px;
    }
    .cards img{
        height: 60px;
        width: 60px;
        top: 90%;
        left: 35%;
    }
    .cards .h1-ai{
        margin-top: 150px;
        margin-left: 20px;
        font-size: 17px;
    }
    .cards .p1-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 0.2%;
    }
    .cards .h2-ai{
        margin-top: 150px;
        margin-left: 40px;
        font-size: 17px;
    }
    .cards .p2-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 12.6%;
    }
    .cards .h3-ai{
        margin-top: 150px;
        margin-left: -38px;
        padding: 0px 0px 0px 40px;
        font-size: 14px;
    }
    .cards .p3-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 25.2%;
    }
    .cards .h4-ai{
        margin-top: 150px;
        margin-left: 20px;
        font-size: 17px;
    }
    .cards .p4-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 37.7%;
    }
    .cards .h5-ai{
        margin-top: 150px;
        margin-left: 20px;
        font-size: 17px;
    }
    .cards .p5-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 50.2%;
    }
    .cards .h6-ai{
        margin-top: 150px;
        margin-left: 30px;
        font-size: 17px;
    }
    .cards .p6-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 62.6%;
    }
    .cards .h7-ai{
        margin-top: 150px;
        margin-left: -84px;
        padding: 0px 0px 0px 85px;
        font-size: 14px;
    }
    .cards .p7-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 75.2%;
    }
    .cards .h8-ai{
        margin-top: 150px;
        margin-left: 20px;
        font-size: 17px;
    }
    .cards .p8-ai{
        font-size: 10.4px;
        margin-top: 190px;
        left: 87.8%;
    }
}