*{
    margin: 0;
    padding: 0;
}

.appdev-container{
    height: 80vh;
    width: 98.7vw;
    position: relative;
    background: #f1f4ff;
}


.appdev-container h1{
    color: #333;
    font-size: 50px;
    position: absolute;
    top: 10%;
    margin: 0px -100px 0px 40px;
    padding: 0px 10px 0px 0px;
}
.app-line{
    top: 40%;
    left: 35%;
    position: absolute;
    border-radius: 2px 2px 2px 2px;
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    padding: 0px 300px 4px 50px;
}

.appdev-container p{
    color: #333;
    font-size: 18px;
    position: absolute;
    top: 50%;
    margin: 0px -20px 0px 5px;
    padding: 0px 10px 0px 30px;
}
.appbtn-con{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 25px 10px 25px;
    position: absolute;
    border-radius: 20px;
    cursor: pointer;
    color: #333;
    z-index: 1;
    outline: 1px solid #333;
    background: transparent;
    top: 75%;
    left: 40%;
    box-shadow: inset 0 0 0 0 #333;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.appbtn-con:hover {
    box-shadow: inset 0 0 0 50px #333;
    color: #fff;
}


