*{
    margin: 0px;
    padding: 0px;
    font-family: Sora,sans-serif;
}

.brand-container{
    height: 90vh;
    width: 98.7vw;
    background-color: #fff;
    
}

.let-heading{
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 92.5px; 
    letter-spacing: -1px;
    padding: 30px 0px 0px 650px;
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -140px;
}


.brand-container .heading{
    background-image:  linear-gradient(225deg, #7554C1 29.51%, #243F82 93.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Sofia, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px; /* 98.98% */
    letter-spacing: -1px;
    padding: 14px 0px 1px 1px;
    margin: 50px 0px 12px 100px;
    text-transform: capitalize;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.3s ease 0s, color 0.3s ease 0s;
}

.brand-container .link-active{
    background-image:  linear-gradient(180deg, #7554C1 29.51%, #243F82 93.15%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Sofia, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px; /* 98.98% */
    letter-spacing: -1px;
    padding: 14px 0px 1px 1px;
    margin: 50px 0px 12px 100px;
    text-transform: capitalize;
    cursor: pointer;
}

.brand-p{
    color: #2b2a2a;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px; /* 142.5% */
    padding: 0px 10px 1px 1px;
    margin: -150px 50px 12px 670px;
}

.brand-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width:  45%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -400px;
    margin-left: 650px;
    position: absolute;
    border-radius: 0%;
    box-shadow: 0 10px 15px 0 rgba(99, 107, 211, 0.7);
    border-radius: 5%;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

.brand-container .link-container{
    display: flex;
    justify-content: flex-end;
    align-items:  flex-end;
    margin-top: 200px;
  
}

.brand-container .link{
    margin-right: 8px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 50px;
    color: #333;
    border: none;
    cursor: pointer;
    background: none;
}


@media only screen and (min-width: 992px) and (max-width: 1024px) {

    .brand-container{
        height: 90vh;
    }
    .brand-container .let-heading{
        font-size: 20px;
        margin-left: -30px;
        margin-top: 100px;
        position: absolute;
    }
    .brand-heading{
        font-size: 35px;
        margin: 50px 50px 12px 300px;
        position: absolute;
    }
    .brand-container .link-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 500px;
      
    }
    .brand-container .link{
        margin-top: 200px;
    }
    .active-bar {
       margin-top: 200px;
       margin-left: 150px;
    }
       .brand-p{
        padding: 0px 10px 1px 1px;
        margin: -200px 15px 12px 600px;
    }
    
    .brand-image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width:  35%;
        margin-top: -350px;
        margin-left: 600px;

    }

}