*{
    margin: 0px;
    padding: 0px;
    font-family: Sora,sans-serif;
}

.card-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
    transition: transform 0.5s ease;
    z-index: 1;
    position: relative;
    
}
  
@media only screen and (min-width: 992px) and (max-width: 1024px) {

    .brand-container{
        height: 90vh;
    }
    .brand-container .let-heading{
        font-size: 20px;
        margin-left: -30px;
        margin-top: 100px;
        position: absolute;
    }
    .brand-heading{
        font-size: 35px;
        margin: 50px 50px 12px 300px;
        position: absolute;
    }
    .brand-container .link-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 500px;
      
    }
    .brand-container .link{
        margin-top: 200px;
    }
    .active-bar {
       margin-top: 200px;
       margin-left: 150px;
    }
       .brand-p{
        padding: 0px 10px 1px 1px;
        margin: -200px 15px 12px 600px;
    }
    
    .brand-image{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        width:  35%;
        margin-top: -350px;
        margin-left: 600px;

    }

}