*{
    margin: 0px;
    padding: 0px;
}

.brand-container{
    height: 90vh;
    width: 98.7vw;
    background-color: #fff;
    margin-top: 363px;
}

.let-heading{
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 92.5px; 
    letter-spacing: -1px;
    padding: 30px 0px 0px 700px;
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -20px;
}

#line1-brand{
    top: 695%;
    left: 51.9%;
    position: absolute;
    z-index: 1;
    border-radius: 2px 2px 2px 2px;
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    padding: 0px 50px 4px 100px;
}
#line2-brand{
    top: 695%;
    left: 63.2%;
    position: absolute;
    z-index: 1;
    border-radius: 2px 2px 2px 2px;
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    padding: 0px 10px 4px 35px;
}
#line3-brand{
    top: 695%;
    left: 66.9%;
    position: absolute;
    z-index: 1;
    border-radius: 2px 2px 2px 2px;
    background: linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    padding: 0px 5px 4px 15px;
}


.brand-heading{
    color: #333;
    font-family: Poppins, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 48.5px; /* 98.98% */
    letter-spacing: -1px;
    padding: 14px 0px 1px 1px;
    margin: 1px 50px 12px 700px;
}

.brand-p{
    color: #6E6E6E;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px; /* 142.5% */
    padding: 0px 30px 1px 1px;
    margin: 17px 100px 12px 700px;
}

.brand-carousel{
    margin-top: 235px;
    margin-left: 80px;
    position: absolute;
    top: 650%;
    left: 5%;
}

.brand-carousel img{
    height: 400px;
    width: 400px;
    padding-right: 200px;
    cursor: pointer;
}

.brand-carousel .slick-slider {
    width: 400px !important;
}
.brand-carousel .slick-dots li.slick-active button:before {
    color: #3C4B90 !important;
}

.brand-carousel .slick-dots li button:before {
    color: #DDE3FF;
    font-size: 1rem !important;
    top: 1rem !important;
}

.brand-carousel .slick-prev {
    background: transparent;

}
.brand-carousel .slick-next{
    background: transparent;
}

@media only screen and (max-width: 1024px) {
    .let-heading{
        font-size: 19px;
        margin-left: -59px;
        margin-top: -66px;
    }
    #line1-brand{
        top: 662%;
        left: 63.9%;
    }
    #line2-brand{
        top: 662%;
        left: 78.9%;
    }
    #line3-brand{
        top: 662%;
        left: 83.9%;
    }
    .brand-heading{
        font-size: 40px;
        margin: -28px 50px 12px 631px;
    }
    .brand-p{
        font-size: 19px;
        margin: -17px 0px 12px 629px;
    }
    .brand-carousel{
        margin-top: 61px;
        margin-left: 80px;
        position: absolute;
        top: 650%;
        left: 5%;
    }
    
    .brand-carousel img{
        height: 370px;
        width: 370px;
        padding-right: 200px;
        cursor: pointer;
    }

}