*{
    margin: 0;
    padding: 0;
}

.choose-container{
    height: 130vh;
    width: auto;
    background: linear-gradient(256.4deg, #6347AA 7.85%, #233F81 107.97%);
    scroll-behavior: smooth;
}

.choose-card{
    height: 28rem;
    width: auto;
}

/* Media query for small devices (e.g., mobiles) */
@media only screen and (max-width: 576px){
    .choose-container{
        height: 280vh;
    }

    .choose-card{
        height: 28rem;
        width: auto;
    }
    
}
/* Media query for medium devices (e.g., tablet and small pc) */
@media only screen and (min-width: 576px) and (max-width: 768px){
    .choose-container{
        height: 270vh;
    }
    
    .choose-card{
        height: 28rem;
        width: auto;
    }
}

/* Media query for large devices (e.g., desktop) */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .choose-container{
        height: 130vh;
    }

    .choose-card{
        height: 26rem;
        width: auto;
    }
}

/* Media query for extra large devices (e.g., extra large desktop) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .choose-container{
        height: 130vh;
    }
    .choose-card{
        height: 28rem;
        width: auto;
    }
}