*{
    margin: 0;
    padding: 0;
}

.contact-container{
    height: 100vh;
    width: 98.7vw;
    background: #fff;
    position: relative;
    margin-top: 40px;
}

.contact-container img{
    height: 100vh;
    width: 98.7vw;
    position: relative;
}

.contact-container .contact-box{
    top: -15%;
    left: 30%;
    position: absolute;
    z-index: 1;
    border: 1px solid #dae1fa;
    transform: rotate(90deg);
    transform-origin: 20% 40%;
    background: #dae1fa;
    color: transparent;
    padding: 500px 250px 100px 250px;
}

.contact-container .main-heading{
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 15%;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color: #333;
}
.contact-container .main-span{
    position: absolute;
    z-index: 2;
    left: 105%;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color:#6C50B1;
}

.contact-container p{
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 15%;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color:#333;
}
.contact-form{
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 14%;
}

.firstname-input{
    font-size: 15px;
    padding: 15px 25px 15px 12px;
    margin-left: 10px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}

.lastname-input{
    margin-left: 5px;
    font-size: 15px;
    padding: 15px 25px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.email-input{
    position: absolute;
    top: 120%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 15px 265px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.phone-input{
    position: absolute;
    top: 235%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 15px 265px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.message-input{
    position: absolute;
    top: 350%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 12px 270px 40px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.submit-btn{
    position: absolute;
    top: 550%;
    left: -1%;
    margin-left: 10px;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    padding: 12px 30px 12px 30px;
    border-radius: 20px;
    background: linear-gradient(251deg, #6C50B1 -3.61%, #2B4B8B 130.29%);
    border: 0.5px solid #808080;
    color: #fff;
    cursor: pointer;
    transition: .4s cubic-bezier(0,0,.3642,1);
}
.video-container{
    background: #333;
}

@media only screen and (max-width: 1024px) {
    .contact-container{
        margin-top: 0px;
    }
    .contact-container .contact-box{
        top: -7%;
        left: 26%;
        padding: 408px 300px 100px 200px;
    }

    .contact-container  .contact-box1{
        top: 2.1%;
        left: 70%;
        padding: 272px 200px 100px 301px
    }
    .contact-container .main-heading{
        left: 10%;
        font-size: 45px;
    }
    .contact-container .main-span{
        font-size: 45px;
    }
    .contact-container p{
        margin-left: -50px;
        font-size: 45px;
    }
    .contact-form{
        margin-left: -65px;
    }
    .contact-container .firstname-input{
        font-size: 14px;
        padding: 15px 20px 15px 12px;
        margin-left: 10px;
    }

    .contact-container  .lastname-input{
        font-size: 14px;
    }
    .contact-container .email-input{
        font-size: 14px;
        padding: 15px 239px 15px 12px;
    }

    .contact-container .phone-input{
        font-size: 14px;
        padding: 15px 239px 15px 12px;
    }
    .contact-container .message-input{
        font-size: 14px;
        padding: 12px 232px 40px 12px;
    }
    .contact-container .submit-btn{ 
        font-size: 19px;

    }
    .contact-container  .contact-carousel{ 
        margin-left: -66px;
    }
    .contact-container  .contact-carousel .heading1{
        margin-left: 5px;
        font-size: 17px;
    }
    .contact-container .contact-carousel .heading1 .span1{
        font-size: 17px;
     }
     .contact-container  .contact-carousel .heading2{
        margin-left: 5px;
        font-size: 17px;
    }
    .contact-container .contact-carousel .heading2 .span2{
        font-size: 17px;
     }
     .contact-container  .contact-carousel .heading3{
        margin-left: 5px;
        font-size: 17px;
    }
    .contact-container .contact-carousel .heading3 .span3{
        font-size: 17px;
     }
     .contact-container .contact-carousel .slick-next{
        margin-right: 35px;
        margin-top: 50px;
    
    }
}
