*{
    margin: 0;
    padding: 0;
}

.contact-container{
    height: 100vh;
    width: 98.7vw;
    background: #fff;
    position: relative;
    margin-top: 40px;
}

.contact-container img{
    height: 100vh;
    width: 98.7vw;
    position: relative;
}


.contact-box{
    top:-20%;
    left: 35%;
    position: absolute;
    z-index: 1;
    border: 1px solid #dae1fa;
    border-radius: 0px 0px 30px 30px;
    transform: rotate(90deg);
    transform-origin: 20% 40%;
    background: #dae1fa;
    color: transparent;
    padding: 600px 300px 100px 200px;
}

.contact-container h1{
    position: absolute;
    z-index: 2;
    top: 15%;
    left: 15%;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color: #333;
}
.contact-container span{
    position: absolute;
    z-index: 2;
    left: 105%;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color:#6C50B1;
}

.contact-container p{
    position: absolute;
    z-index: 2;
    top: 28%;
    left: 15%;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    text-transform: capitalize;
    color:#333;

}
.contact-box1{
    top: -0.1%;
    left:75%;
    position: absolute;
    z-index: 1;
    border-radius: 30px 30px 0px 0px;
    transform: rotate(90deg);
    transform-origin: 20% 40%;
    background: linear-gradient(30deg, #7554C1 29.51%, #243F82 93.15%);
    color: transparent;
    padding: 300px 200px 100px 300px;
}

.contact-form{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 15%;
}

.firstname-input{
    font-size: 15px;
    padding: 15px 25px 15px 12px;
    margin-left: 10px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}

.lastname-input{
    margin-left: 5px;
    font-size: 15px;
    padding: 15px 25px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.email-input{
    position: absolute;
    top: 120%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 15px 265px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.phone-input{
    position: absolute;
    top: 235%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 15px 265px 15px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.message-input{
    position: absolute;
    top: 350%;
    left: -1%;
    margin-left: 10px;
    font-size: 15px;
    padding: 12px 270px 40px 12px;
    border-radius: 20px;
    background: transparent;
    border: 0.5px solid #808080;
}
.submit-btn{
    position: absolute;
    top: 550%;
    left: -1%;
    margin-left: 10px;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    padding: 12px 30px 12px 30px;
    border-radius: 20px;
    background: linear-gradient(251deg, #6C50B1 -3.61%, #2B4B8B 130.29%);
    border: 0.5px solid #808080;
    color: #fff;
}

.contact-carousel{
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 10%;
}

.contact-div{
    height: 200px;
    padding-bottom: 20px;
    font-size: 20px;
    width: 50px;
}

.head-p{
    background: #fff;
    font-size: 50px;
    font-family: Poppins, sans-serif;
    position: absolute;
    z-index: 3;
    padding: 1px 250px 1px 1px;
    margin: 10px 200px 10px 100px;
    height: 200px;

    left: -40%;

}

.contact-email{
    position: absolute;
    z-index: 4;
    top: 100%;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.contact-slider .slick-slider {
    width: 50px !important;
}

.contact-slider .slick-slide div{
    margin:0 1px;
}

.contact-slider .slick-dots li.slick-active button:before {
    color: #fff !important;
    margin-left: 300px;
}
.contact-slider .slick-dots li button:before {
    color: #333;
    font-size: 0.6rem !important;
    top: 2rem !important;
    margin-left: 300px;
    margin-top: 130px;
}

.contact-slider .slick-initialized .slick-slide {
    display: flex;
}

.contact-slider .slick-prev {
  display: none !important;
}
.contact-slider .slick-next{
    display: none !important;
}