*{
    margin: 0;
    padding: 0;
    font-family: Sora, sans-serif;
    box-sizing: border-box;
}

.contact-container{
    height: 100vh; 
    width: auto;
    background-image: url('https://i.ibb.co/JHdZGZR/anout-banner.jpg');
    scroll-behavior: smooth;
}
.contact-card{
    background: linear-gradient(256.4deg, #6347AA 7.85%, #233F81 107.97%);
    z-index:1;
}
.contact-h1{
    margin-left: -3rem;
}
.contact-span{
    margin-left: 5rem;
}
.contact-image-card{
    padding: 17rem;
    margin-left: -5rem;
    z-index:0;
}
.custom-input::placeholder {
    color: #D8BFD8; /* Change placeholder text color here */
}

@media only screen and (max-width: 1024px) {
    .contact-container{
        margin-top: 0px;
    }
    .contact-container .contact-box{
        top: -7%;
        left: 26%;
        padding: 408px 300px 100px 200px;
    }

    .contact-container  .contact-box1{
        top: 2.1%;
        left: 70%;
        padding: 272px 200px 100px 301px
    }
    .contact-container .main-heading{
        left: 10%;
        font-size: 45px;
    }
    .contact-container .main-span{
        font-size: 45px;
    }
    .contact-container p{
        margin-left: -50px;
        font-size: 45px;
    }
    .contact-form{
        margin-left: -65px;
    }
    .contact-container .firstname-input{
        font-size: 14px;
        padding: 15px 20px 15px 12px;
        margin-left: 10px;
    }

    .contact-container  .lastname-input{
        font-size: 14px;
    }
    .contact-container .email-input{
        font-size: 14px;
        padding: 15px 239px 15px 12px;
    }

    .contact-container .phone-input{
        font-size: 14px;
        padding: 15px 239px 15px 12px;
    }
    .contact-container .message-input{
        font-size: 14px;
        padding: 12px 232px 40px 12px;
    }
    .contact-container .submit-btn{ 
        font-size: 19px;

    }
    .contact-container  .contact-carousel{ 
        margin-left: -66px;
    }
    .contact-container  .contact-carousel .heading1{
        margin-left: 5px;
        font-size: 17px;
    }
    .contact-container .contact-carousel .heading1 .span1{
        font-size: 17px;
     }
     .contact-container  .contact-carousel .heading2{
        margin-left: 5px;
        font-size: 17px;
    }
    .contact-container .contact-carousel .heading2 .span2{
        font-size: 17px;
     }
     .contact-container  .contact-carousel .heading3{
        margin-left: 5px;
        font-size: 17px;
    }
    .contact-container .contact-carousel .heading3 .span3{
        font-size: 17px;
     }
     .contact-container .contact-carousel .slick-next{
        margin-right: 35px;
        margin-top: 50px;
    
    }
}
