*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footeres-container{
    height: 100vh;
    width: auto; 
    background: linear-gradient(256.4deg, #6347AA 7.85%, #233F81 107.97%);
    scroll-behavior: smooth;
}

.footer-content{
    margin-top: -5rem;
}

.footer-logo{
    height: 10rem;
    width: auto;
    background-size:cover;
}

.footer-text{
    margin-left: 1rem;
    width: 20rem;
}

.social-icons{
    margin-top: 0rem;
}

.social-icon{
    z-index: 3;
    color: #fff;
    transform: scale(1.3);
}

#fb-i{
    margin-left: 1rem;
}
#ig-i{
    margin-left: 1rem;
}
#li-i{
    margin-left: 1rem;
}
#tw-i{
    margin-left: 1rem;
}

.footer-links{
    margin-top: 7rem;
    margin-left: -20rem;
    font-size: 1rem;
}

.footer-heading{
    font-size: 2rem;
    margin-top: -4rem;
}

.footer-list{
    list-style: none;
    margin-left: -2rem;
    line-height: 1.5rem;
}

.footer-list-item{
    text-decoration: none;
    color: #fff;
}

#footer-mobile-item{
    padding-right:30rem;
}

.footer-heading2{
    font-size: 2rem;
    margin-top: -9.5rem;
    margin-left: 8rem;
}

.footer-list2{
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin-left: 6rem;
}

.footer-heading3{
    font-size: 2rem;
    margin-top: -7rem;
    margin-left: 20rem;
}

.footer-list3{
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin-left: 18rem;
}

.footer-heading4{
    font-size: 2rem;
    margin-top: -14.5rem;
    margin-left: 34rem;
}

.footer-list4{
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin-left: 32.5rem;
}

.footer-heading5{
    font-size: 2rem;
    margin-top: -12.9rem;
    margin-left: 46rem;
}

.footer-list5{
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin-left: 46rem;
}
.footer-flag{
    height: 1rem;
    width: auto;
}
.footer-flag-phone{
    text-decoration: none;
    color: #fff;
    margin-left: 0.5rem;
}

.footer-copy{
    margin-top: 19rem;
    margin-left: 10rem;
}

.footer-copy h1{
    font-size: 1.5rem;
}

/* Media query for small devices (e.g., mobiles) */
@media only screen and (max-width: 480px){
   .footer-content{
    margin-top: 0rem;
    margin-left: 5rem;
}

.footer-logo{
    margin-left: 5rem;
    height: 8rem;
    width: auto;
}

.footer-text{
    margin-left: -5rem;
    width: 35rem;
    font-size: 1rem;
}

.social-icons{
    margin-left: 5rem;
}

.social-icon{
    z-index: 3;
    color: #fff;
    transform: scale(1.7);
}

.footer-links{
    margin-top: 7rem;
    margin-left: 0rem;
}

.footer-heading{
    font-size: 1.2rem;
    margin-top: -4rem;
}

.footer-list{
    list-style: none;
    margin-left: -2rem;
    font-size: 0.8rem;
}
    
.footer-heading2{
    font-size: 1.2rem;
    margin-top: -9rem;
    margin-left: 8rem;
}

.footer-list2{
    margin-left: 6rem;
    font-size: 0.8rem;
}

.footer-heading3{
    font-size: 1.2rem;
    margin-top: -6rem;
    margin-left: 20rem;
}

.footer-list3{
    margin-left: 18rem;
    font-size: 0.8rem;
}

.footer-heading4{
    font-size: 1.2rem;
    margin-top: 0rem;
    margin-left: 0rem;
}

.footer-list4{
    margin-left: -2rem;
    font-size: -0.8rem;
}

.footer-heading5{
    font-size: 1.2rem;
    margin-top: -12rem;
    margin-left: 19rem;
}

.footer-list5{
    margin-left: 17rem;
    font-size: 0.8rem;
}
.footer-flag{
    height: 1rem;
    width: auto;
}
.footer-flag-phone{
    text-decoration: none;
    color: #fff;
    margin-left: 0.5rem;
}

.footer-copy{
    margin-top: 8.2rem;
    margin-left: 10rem;
}

.footer-copy h1{
    font-size: 1.2rem;
}


}
/* Media query for medium devices (e.g., tablet and small pc) */
@media only screen and (min-width: 480px) and (max-width: 768px){
    .footeres-container{
        height: 130vh;
       }
       .footer-content{
        margin-top: 0rem;
        margin-left: 5rem;
    }
    
    .footer-logo{
        margin-left: 5rem;
        height: 8rem;
        width: auto;
    }
    
    .footer-text{
        margin-left: -5rem;
        width: 35rem;
        font-size: 1rem;
    }
    
    .social-icons{
        margin-left: 5rem;
    }
    
    .social-icon{
        z-index: 3;
        color: #fff;
        transform: scale(1.7);
    }
    
    .footer-links{
        margin-top: 7rem;
        margin-left: 0rem;
    }
    
    .footer-heading{
        font-size: 1.2rem;
        margin-top: -4rem;
    }
    
    .footer-list{
        list-style: none;
        margin-left: -2rem;
        font-size: 0.8rem;
    }
        
    .footer-heading2{
        font-size: 1.2rem;
        margin-top: -9rem;
        margin-left: 8rem;
    }
    
    .footer-list2{
        margin-left: 6rem;
        font-size: 0.8rem;
    }
    
    .footer-heading3{
        font-size: 1.2rem;
        margin-top: -6rem;
        margin-left: 20rem;
    }
    
    .footer-list3{
        margin-left: 18rem;
        font-size: 0.8rem;
    }
    
    .footer-heading4{
        font-size: 1.2rem;
        margin-top: 0rem;
        margin-left: 0rem;
    }
    
    .footer-list4{
        margin-left: -2rem;
        font-size: -0.8rem;
    }
    
    .footer-heading5{
        font-size: 1.2rem;
        margin-top: -12rem;
        margin-left: 19rem;
    }
    
    .footer-list5{
        margin-left: 17rem;
        font-size: 0.8rem;
    }
    .footer-flag{
        height: 1rem;
        width: auto;
    }
    .footer-flag-phone{
        text-decoration: none;
        color: #fff;
        margin-left: 0.5rem;
    }
    
    .footer-copy{
        margin-top: 8.2rem;
        margin-left: 10rem;
    }
    
    .footer-copy h1{
        font-size: 1.2rem;
    }
    
}

/* Media query for large devices (e.g., desktop) */
@media only screen and (min-width: 768px) and (max-width: 1024px){
    .footeres-container{
        height: 87vh;
       }
       .footer-content{
        margin-top: -5rem;
        margin-left: 0rem;
    }
    
    .footer-logo{
        margin-left: -1rem;
    }
    
    .footer-text{
        margin-left: 0rem;
        width: 16rem;
        font-size: 1rem;
    }
    
    .social-icons{
        margin-left: 0rem;
    }
    
    .social-icon{
        z-index: 3;
        color: #fff;
        transform: scale(1.6);
    }
    
    .footer-links{
        margin-top: 7rem;
        margin-left: -14rem;
        font-size: 1.5rem;
    }
    
    .footer-heading{
        font-size: 1.5rem;
        margin-top: -4rem;
    }
    
    .footer-list{
        list-style: none;
        margin-left: -2rem;
        font-size: 1rem;
    }
        
    .footer-heading2{
        font-size: 1.5rem;
        margin-top: -9rem;
        margin-left: 6rem;
    }
    
    .footer-list2{
        margin-left: 5rem;
        font-size: 1rem;
    }
    
    .footer-heading3{
        font-size: 1.5rem;
        margin-top: -6rem;
        margin-left: 16rem;
    }
    
    .footer-list3{
        margin-left: 14rem;
        font-size: 1rem;
    }
    
    .footer-heading4{
        font-size: 1.5rem;
        margin-top: -14rem;
        margin-left: 31rem;
    }
    
    .footer-list4{
        margin-left: 29rem;
        font-size: 1rem;
    }
    
    .footer-heading5{
        font-size: 1.5rem;
        margin-top: 4rem;
        margin-left: 0rem;
    }
    
    .footer-list5{
        margin-left: -2rem;
        font-size: 1rem;
    }
    .footer-flag{
        height: 1rem;
        width: auto;
    }
    .footer-flag-phone{
        text-decoration: none;
        color: #fff;
        margin-left: 0.5rem;
    }
    
    .footer-copy{
        margin-top: 2rem;
        margin-left: 7rem;
    }
    
    .footer-copy h1{
        font-size: 1.5rem;
    }
    
}

/* Media query for extra large devices (e.g., extra large desktop) */
@media only screen and (min-width: 1024px) and (max-width: 1200px){
    .section2-main{
        font-size: 5rem;
        margin-left: 2rem;
    }
    
    .outer-div{
        display: flex;
        transition: transform 1s ease;
    }
    
    .card-style{
        margin-left: 2rem; 
        margin-top: 2rem; 

    }
    
    .cards-image{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .cards-heading{
        margin-left: 2rem;
        margin-top: 0.5rem; 
    }
    
    .card-para{
        margin-left: 2rem; 
        margin-top: 0.5rem;
    }
}