*{
    margin: 0;
    padding: 0;
}

.header-section{
    height: 100vh;
    width: auto;
    position: relative;
    overflow: hidden;
}

.left-heading{
    font-size: 4rem;
    font-weight: 600;

}
.header-icons{
    transform: scale(1.2);
}
.header-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

