*{
    margin: 0;
    padding: 0;
}

.header-section{
    height: 100vh;
    width: auto;
    position: relative;
    overflow: hidden;
}

.left-heading{
    font-size: 4rem;
    font-weight: 600;
}
.left-para{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 5rem;
}
.header-icons{
    transform: scale(1.2);
}
.header-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header-section {
        height: auto; /* Adjust height */
    }

    .left-heading {
        font-size: 3rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 0rem;
    position: relative;
    z-index: 1;
    }

    .left-para{
        font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-left: 0rem;
    position: relative;
    z-index: 1;
    }

    .header-icons {
        transform: scale(1); /* Adjust scale as needed */
    }

  }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .header-section {
        height: 100vh; /* Adjust height */
    }

    .left-heading {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .left-para{
    font-size: 1.2rem;
    margin-top: 0rem;
    margin-left: 0rem;
    }

    .header-icons {
        transform: scale(1); /* Adjust scale as needed */
    }

  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .header-section {
        height: 100vh; /* Adjust height */
    }

    .left-heading {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .left-para{
        font-size: 0.8rem;
        margin-top: 5rem;
        margin-left: 0rem;
    }

    .header-icons {
        transform: scale(1); /* Adjust scale as needed */
    }
}

/* Large devices (laptops/desktops, 992 and up) */
@media only screen and (min-width: 992px) {
    .header-section {
        height: 100vh; /* Adjust height */
    }

    .left-heading {
        font-size: 2.5rem;
        margin-top: 1rem;
        margin-left: 0rem;
    }

    .left-para{
        font-size: 0.8rem;
        margin-top: 7rem;
        margin-left: 0rem;
    }

    .header-icons {
        transform: scale(1); /* Adjust scale as needed */
    }
}
/*Extra Large devices (laptops/desktops, 1200 and up) */
@media only screen and (min-width: 1200px) {
    .header-section{
        height: 100vh;
    }
    
    .left-heading{
        font-size: 4rem;
        font-weight: 600;
    }

    .left-para{
        font-size: 1.2rem;
        font-weight: 500;
        margin-top: 5rem;
    }
    .header-icons{
        transform: scale(1.2);
    }
}

/* Extra Extra Large devices (laptops/desktops, 2500 and up) */
@media only screen and (min-width: 2500px) {
    .header-section{
        height: 100vh;
    }
    
    .left-heading{
        font-size: 8rem;
        font-weight: 600;
        margin-left: -26rem;
    }

    .left-para{
        font-size: 2.2rem;
        font-weight: 500;
        margin-top: 5rem;
        margin-right: -33rem;
        margin-left: 6rem;
    }
    .header-icons{
        transform: scale(2);
        margin-left: 6rem;
        margin-top: 3rem;
    }
}
