*{
    margin: 0;
    padding: 0;

}
.navbar-container{
    height: 100vh;
    width: 98.7vw;
    scroll-behavior: smooth;
    margin-top: -0.5rem;
}
.navbar-logo{
    height: 9rem;
    width: 9rem;
    margin-top: -28rem;
    margin-left: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.navbar-items{
    margin-top: -32rem;
}

.navbar-link{
    margin-left: 3rem;
    color: #fff;
    text-decoration: none;
}

.navbar-link:active{
    color:  #6C50B1;
}

.navbar-text{
    margin-top: -32rem;
    margin-left: 2.4rem;
    display: flex;
}
.main-button{
    background: #00ddFF;
    border: none; 
    padding: 1.5rem 1.5rem;
    font-size: 1rem;
    z-index: 2;
}

.main-heading{
    color: #fff;
    font-size: 4rem;
    margin-top: 5rem;
    margin-left: -8rem; 
    padding-left: 43.75rem;
    display: flex;
    text-align: flex-end;
    justify-content: flex-end;
    text-transform: uppercase;
}
.main-para{
    color: #fff;
    font-size: 1rem;
    margin-top: 20rem;
    padding-right: 40rem;
    margin-left: -73rem;
    display: flex;
    text-align: flex-start;
    justify-content: flex-start;
}
.main-link{
    position: absolute;
    margin-left: 7rem;
    color: #fff;
    text-decoration: none;
    margin-top: 28rem; 
    display: flex;
    text-align: flex-start; 
    justify-content: flex-start;
}
.fb{
    color: #fff;
    margin-top: 32rem;
    margin-left: 7rem;
    position: absolute;
}
.tw{
    color: #fff;
    margin-top: 32rem;
    margin-left: 10rem;
    position: absolute;
}
.ig{
    color: #fff;
    margin-top: 32rem;
    margin-left: 13rem;
    position: absolute;
}

.li{
    color: #fff;
    margin-top: 32rem;
    margin-left: 16rem;
    position: absolute;
}

/* Media query for small devices (e.g., mobiles) */
@media only screen and (max-width: 576px){
    .navbar-logo{
        margin-top: -10rem; 
        margin-left: -1rem;
    }
    .main-heading{
        font-size: 3rem;
        margin-top: -20rem;
        margin-left: 5rem; 
    }
    .main-link{
        font-size: 1rem;
        margin-left: 7rem;
        margin-top: 27rem;
    }
    .main-para{
        display: none;
    }
}
/* Media query for medium devices (e.g., tablet and small pc) */
@media only screen and (min-width: 576px) and (max-width: 768px){
    .navbar-logo{
        margin-top: -10rem; 
        margin-left: -1rem;
        position:absolute;
    }
    .main-heading{
        font-size: 4rem;
        margin-top: -20rem;
        margin-left: 5rem; 
    }
    .main-link{
        font-size: 1rem;
        margin-left: 7rem;
        margin-top: 27rem;
    }
    .main-para{
        display: none;
    }
}

/* Media query for large devices (e.g., desktop) */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .navbar-logo{
        margin-top: -20rem; 
        margin-left: -1rem;
        position:absolute;
    }

    .navbar-items{
        margin-top: -32rem;
        margin-left: 30rem;
    }
    .navbar-text{
        margin-left: 8.6rem;
    }

    .main-heading{
        font-size: 4rem;
        margin-top: 10rem;
        margin-left: -28rem; 
    }
    .main-link{
        font-size: 1rem;
        margin-left: 7rem;
        margin-top: 27rem;
    }
    .main-para{
        display: none;
    }
}

/* Media query for extra large devices (e.g., extra large desktop) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .navbar-logo{
        margin-top: -28rem;
    }
    
    .navbar-items{
        margin-top: -32rem;
    }
    
    .navbar-link{
        margin-left: 3rem;
    }
       
    .navbar-text{
        margin-top: -32rem;
        margin-left: 2.4rem;
    }

    .main-button{
        padding: 1.5rem 1.5rem;
        font-size: 1rem;

    }

    .main-heading{
        margin-top: 5rem;
        margin-left: -8rem; 

    }
    .main-para{
        margin-top: 20rem;
        margin-left: -73rem;

    }
    .main-link{
        margin-left: 7rem;
        margin-top: 28rem; 
    }
    .fb{
        margin-top: 32rem;
        margin-left: 7rem;

    }
    .tw{
        margin-top: 32rem;
        margin-left: 10rem;
    }
    .ig{
        margin-top: 32rem;
        margin-left: 13rem;
    }
    
    .li{
        margin-top: 32rem;
        margin-left: 16rem;
    }
}