*{
    margin: 0;
    padding: 0;

}

.nav-container{
    height: 100vh;
   width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-container img{
    display: flex; /* Apply Flexbox properties */
    justify-content: center; /* Center horizontally */
    align-items: center;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.logo{
    margin-top: -40px;
    z-index: 3;
    background: url('https://i.ibb.co/WxpLfrH/image.png');
    height: 50px; /* Adjust height as needed */
    width: auto; /* Adjust width as needed */
    cursor: pointer;
    top: -10%;
    left: 10%;
    cursor: pointer;
    background-size: 20%;
    background-repeat: no-repeat;
}

.nav-items{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

}
.nav-items li{
    color: #fff;
    font-size: 17px;
    background: #333;
}

.nav-items .home{
    cursor: pointer;
}

.nav-items .home:hover{
    cursor: pointer;
}

.bars{
    display: none;
}

.dropdown {
    position: absolute;
    cursor: pointer;
}
.dropdown-content {
    background: #fff;
    height: 600px;
    width: 300px;
    z-index: 5;
    border-radius: 2px;
    margin-top: 85px;
    margin-left: 20px;
    
}

.dropdown-content li{
    list-style: none;
}

.dropdown-content .nav-service1{
    position: absolute;
    z-index: 3;
    color: #333;
    top: -2%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service2{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 9%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
    
}

.dropdown-content .nav-service3{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 20%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}

.dropdown-content .nav-service4{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 26%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service5{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 33%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service6{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 40%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service7{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 47%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service8{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 54%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service9{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 61%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service10{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 68%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service11{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 75%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service12{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 82%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}
.dropdown-content .nav-service13{
    position: absolute;
    z-index: 3;
    color: #333;
    top: 89%;
    left: 5%;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 500p;
    text-transform: capitalize;
    cursor: pointer;
}


.call-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    padding: 15px 26px;
    position: absolute;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #233f81;
    z-index: 1;
    background: #fff;
    top: 6%;
    left: 78%;
}

.banner-line{
    top: 19%;
    left: 9%;
    position: absolute;
    z-index: 1;
    background: rgb(255, 255, 255);
    margin-left: -120px;
    padding: 0px 673px 1px;
    margin-top: -10px;
}

.banner-span{
    position: absolute;
    z-index: 1;
    top: 25%;
    left: 10%;
    text-transform: uppercase;
    color: #FFF;
    font-family: Reem Kufi Fun, sans-serif;
    font-size: 39px;
    font-style: normal;
    font-weight: 500;
    line-height: 92.5px;
    letter-spacing: -1px;   
}
.banner-heading h1{
    position: absolute;
    z-index: 1;
    top: 35%;
    left: 9%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.5px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}
.banner-half-h {
    position: absolute;
    z-index: 2;
    top: 90%;
    border-radius: 0px 12px 12px 0px;
    background: rgb(255, 255, 255);
    margin-left: -120px;
    padding: 40px 0px 40px 400px;
}

.banner-half-h .digital {
    position: absolute;
    z-index: 3;
    color: #6C50B1;
    margin-top: -45px;
    margin-left: 70px;
    text-transform: capitalize;
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.5px; 
    letter-spacing: -1px;
}

.banner-heading .potential {
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 55%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 100.5px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}

.nav-container #line1{
    top: 60%;
    left: 9%;
    position: absolute;
    z-index: 1;
    border-radius: 2px 2px 2px 2px;
    background: rgb(255, 255, 255);
    padding: 0px 50px 4px;
}
.nav-container #line2{
    top: 60%;
    left: 16.6%;
    position: absolute;
    z-index: 1;
    border-radius: 2px 2px 2px 2px;
    background: rgb(255, 255, 255);
    padding: 0px 10px 4px;
}
.nav-container #line3{
    top: 60%;
    left: 18.3%;
    position: absolute;
    z-index: 1;
    border-radius: 2px 2px 2px 2px;
    background: rgb(255, 255, 255);
    padding: 0px 5px 4px;
}

.btn-start{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 25px 10px 25px;
    position: absolute;
    border-radius: 15px;
    color: #233F81;
    z-index: 3;
    border: none;
    outline: 1px solid #fff;
    background: #fff;
    margin-top: -150px;
    margin-left: 115px;

}

.btn-start:hover{ 
    background: linear-gradient(200deg, #47277f 29.100%, #101b37 93.15%);
}



.visible-div{
    background: #47267F;
    height: 600px;
    width: 1000px;
    position: absolute;
    z-index: 5;
    top: 18%;
    left: 15%;
    border-radius: 70px;
}

.visible-div img{
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 6;
    top: 20%;
    left: 1%;
    border-radius: 50px 0px 50px 0px;
}

.visible-div .visible-p1{
    position: absolute;
    z-index: 5;
    top: 75%;
    left: -1%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1px;
    text-transform: capitalize;
    padding-left: 20px;
    padding-right: 400px;
}

.visible-div .visible-p2{
    position: absolute;
    z-index: 5;
    top: 15%;
    left: 55%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}

.visible-div .visible-p3{
    position: absolute;
    z-index: 5;
    top: 25%;
    left: 55%;
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; 
    letter-spacing: -1px;
    text-transform: capitalize;
}

.visible-contact-form{
    position: absolute;
    z-index: 5;
    top: 40%;
    left: 55%;
}

.visible-contact-form .full-name{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .email{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .phone-no{
    height: 50px;
    width: 390px;
    color: #fff;
    font-size: 19px;
    margin-left: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}
.visible-contact-form .message-input{
    position: absolute;
    z-index: 5;
    height: 25px;
    width: 140px;
    color: #fff;
    font-size: 18px;
    top:110%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
}

.visible-contact-form .submit-btn{
    position: absolute;
    z-index: 5;
    left: 25%;
    top: 180%;
    font-size: 15px;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid #212457;
    background: #212457;
    color: #fff;


}

.visible-contact-form .btn-close{
    position: absolute;
    z-index: 5;
    left: 95%;
    top: -160%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 10px;
    border: 1px solid transparent;
    background: transparent;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}


@media only screen and (max-width: 1024px) {
    .nav-container .logo{
        top: 9%;
    }
    
    .nav-items{
        margin-top: -21px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .bars{
        display: none;
    }
    .nav-items .home{
    cursor: pointer;
    
    }
    .nav-items .about{
        left: 42%;
    }
    .nav-items .service{
        left: 75%;
    }
    
    .nav-items .portfolio{
        left: 60%;
    }
    
    .nav-items .blog{
        left: 68%;
    }
    
    .dropdown {
        position: relative;
        cursor: pointer;
    }
    .dropdown-content {
        height: 500px;
        width: 250px; 
    }
   
    .dropdown-content .nav-service1{
        font-size: 17px;
    }
    .dropdown-content .nav-service2{
        font-size: 17px;
        
    }
    
    .dropdown-content .nav-service3{
        font-size: 17px;
        margin-top: 5px;
    }
    
    .dropdown-content .nav-service4{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service5{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service6{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service7{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service8{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service9{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service10{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service11{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service12{
        font-size: 17px;
        margin-top: 20px;
    }
    .dropdown-content .nav-service13{
        font-size: 17px;
        margin-top: 20px;
    }
    
    
    .quote-btn{
        top: 8%;
        left: 78%;
    }
    
    .banner-line{
        top: 18%;
    }
    
    .banner-span{
        top: 25%;
        left: 10%;
        font-size: 39px;
    }
    .banner-heading h1{
        top: 37%;
        left: 9%;
        font-size: 70px;

    }
    .banner-half-h {
        top: 90%;
        border-radius: 0px 12px 12px 0px;
        margin-left: -120px;

    }
    
    .banner-half-h .digital {
        margin-top: -45px;
        margin-left: 70px;
        font-size: 70px;
    }
    
    .banner-heading .potential {
        top: 80%;
        left: 55%;
        font-size: 70px;
    }
    .nav-container #line1 {
        top: 61%;
        left: 10%;
    }

    .nav-container #line2 {
        top: 61%;
        left: 20.5%;
    }

    .nav-container #line3 {
        top: 61%;
        left: 23%;
    }
    
    .btn-start{
        font-size: 20px;
        padding: 10px 25px 10px 25px;
        margin-top: -162px;
        margin-left: 100px;
    
    }
    
    .btn-start:hover{ 
        background: linear-gradient(200deg, #47277f 29.100%, #101b37 93.15%);
    }
    
    
    
    .visible-div{
        background: #47267F;
        height: 600px;
        width: 1000px;
        position: absolute;
        z-index: 5;
        top: 18%;
        left: 15%;
        border-radius: 70px;
    }
    
    .visible-div img{
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        z-index: 6;
        top: 20%;
        left: 1%;
        border-radius: 50px 0px 50px 0px;
    }
    
    .visible-div .visible-p1{
        position: absolute;
        z-index: 5;
        top: 75%;
        left: -1%;
        color: #FFF;
        font-family: Poppins, sans-serif;
        font-size: 35px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        letter-spacing: -1px;
        text-transform: capitalize;
        padding-left: 20px;
        padding-right: 400px;
    }
    
    .visible-div .visible-p2{
        position: absolute;
        z-index: 5;
        top: 15%;
        left: 55%;
        color: #FFF;
        font-family: Poppins, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        letter-spacing: -1px;
        text-transform: capitalize;
    }
    
    .visible-div .visible-p3{
        position: absolute;
        z-index: 5;
        top: 25%;
        left: 55%;
        color: #FFF;
        font-family: Poppins, sans-serif;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px; 
        letter-spacing: -1px;
        text-transform: capitalize;
    }
    
    .visible-contact-form{
        position: absolute;
        z-index: 5;
        top: 40%;
        left: 55%;
    }
    
    .visible-contact-form .full-name{
        height: 50px;
        width: 390px;
        color: #fff;
        font-size: 19px;
        margin-left: 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
    }
    .visible-contact-form .email{
        height: 50px;
        width: 390px;
        color: #fff;
        font-size: 19px;
        margin-left: 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
    }
    .visible-contact-form .phone-no{
        height: 50px;
        width: 390px;
        color: #fff;
        font-size: 19px;
        margin-left: 10px;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
    }
    .visible-contact-form .message-input{
        position: absolute;
        z-index: 5;
        height: 25px;
        width: 140px;
        color: #fff;
        font-size: 18px;
        top:110%;
        background: transparent;
        border: none;
        border-bottom: 2px solid #fff;
    }
    
    .visible-contact-form .submit-btn{
        position: absolute;
        z-index: 5;
        left: 25%;
        top: 180%;
        font-size: 15px;
        font-family: Poppins, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 10px;
        border: 1px solid #212457;
        background: #212457;
        color: #fff;
    
    
    }
    
    .visible-contact-form .btn-close{
        position: absolute;
        z-index: 5;
        left: 95%;
        top: -160%;
        font-family: Poppins, sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 10px;
        border: 1px solid transparent;
        background: transparent;
        color: #fff;
        padding: 5px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .nav-container img{
        height:  100vh;
        width: 97.8vw;

    }
    .logo{
        height: 100vh;
        width: 50vw;
        top: 7%;
        background-size: 30%;
    }
    .nav-items{
     display: none;
    }
    .bars{
        display: flex;
        margin-left: 625px;
        margin-top: 30px;
        font-size: 36px;
        background: transparent;
        color: white;
        border: none;
        justify-content: flex-end;
        position: absolute;
        z-index: 2;
    }
    .banner-line{
        margin-top: -30px;
        margin-left: -100px;
        padding-right: 109px;
    }
    .banner-span{
        font-size: 35px;
    }
    .banner-half-h {
        position: absolute;
        z-index: 2;
        top: 90%;
        border-radius: 0px 12px 12px 0px;
        background: rgb(255, 255, 255);
        margin-left: -120px;
        padding: 40px 0px 40px 350px;
    }

    .banner-heading h1{
        font-size: 50px;
    }
    h1.digital {
        position: absolute;
        z-index: 3;
        color: #6C50B1;
        margin-top: -45px;
        margin-left: 100px;
    }
    .banner-heading .potential{
        font-size: 50px;
        margin-left: 25px;
    }
    #line1{
        top: 77%;
        left: 10%;
    }
    #line2{
        top: 77%;
        left: 24%;
    }
    #line3{
        top: 77%;
        left: 27%;
    }
    .btn-read{
        left: 10%;
        top: 86%;
    }
}
@media only screen and (max-width: 480px) {
    .logo{
        height: 100vh;
        width: 50vw;
        top: 7%;
        background-size: 45%;
    }
    .nav-items{
        display: none;
    }
    .banner-line{
        margin-top: 50px;
        margin-left: -57px;
        margin-right: 43px;
        padding: 0px 0px 1px;
    }
    .banner-span{
        font-size: 30px;
    }
    .banner-half-h {
        margin-left: -180px;
    }
    .banner-heading h1{
        font-size: 40px;
        
    }
    h1.digital {
        position: absolute;
        z-index: 3;
        color: #6C50B1;
        margin-top: -45px;
        margin-left: 150px;
    }
    .banner-heading .potential{
        font-size: 40px;
        margin-left: 15px;
    }
    #line1{
        top: 76%;
        left: 10%;
        padding: 0px 30px 4px;
    }
    #line2{
        top: 76%;
        left: 23%;
        padding: 0px 6px 4px;
    }
    #line3{
        top: 76%;
        left: 26%;
        padding: 0px 3px 4px;
    }
    .btn-read{
        left: 10%;
        font-size: 12px;
        padding-left: 15px;
    }
}

@media only screen and (max-width: 320px) {
    .nav-container{
        width: 95vw;
    }
    .nav-container img{
        width: 95vw;
    }
    .nav-container .logo{
        height: 100vh;
        width: 50vw;
        top: 8%;
        background-size: 55%;
    }
    .bars{
        display: none;
    }
    .banner-line{
        top: 10%;
        left: 0%;
        margin-top: 1px;
        margin-left: 283px;
        margin-right: 20px;
        padding: 0px 0px 1px;
        background: rgb(206, 12, 5);
    }
    .banner-span{
       font-size: 20px;
       top: 200px;
    }
    .banner-half-h {
        margin-left: -80px;
        top: 80px;
        padding: 40px 0px 40px 190px;
    }
    .banner-heading h1{
        top: 280px;
        font-size: 30px;
    }
    h1.digital {
        margin-top: -290px;
        margin-left: 50px;
        font-size: 30px;
    }
    .banner-heading .potential{
        font-size: 30px;
        margin-left: -12px;
        top: 70px;
    }
    #line1{
        top: 75%;
        left: 10%;
        padding: 0px 20px 4px;
    }
    #line2{
        top: 75%;
        left: 24%;
        padding: 0px 3px 4px;
    }
    #line3{
        top: 75%;
        left: 27%;
        padding: 0px 2px 4px;
    }
    .btn-read{
        left: 10%;
        font-size: 10px;
        padding-left: 15px;
    }
}