*{
    margin: 0;
    padding: 0;
    font-family: Sora, sans-serif;
    box-sizing: border-box;
}

.partner-container{
    height: 100vh;
    width: auto;

}

.card-img-top{
    width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .partner-container{
        height: auto;
        width: auto;   
    
    }
    
    .card-img-top{
        width: 100%;
    }
  }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .partner-container{
        height: auto;
        width: auto;   
    }
    
    .card-img-top{
        width: 100%;
    }
    }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .partner-container{
        height: auto;
        width: auto;   
    
    }
    
    .card-img-top{
        width: 100%;
    }
    }

/* Large devices (laptops/desktops, 992 and up) */
@media only screen and (min-width: 992px) {
    .partner-container{
        height: auto;
        width: auto;   
    
    }
    
    .card-img-top{
        width: 100%;
    }
    }
/* Large devices (laptops/desktops, 1200 and up) */
@media only screen and (min-width: 1200px) {
    .partner-container{
        height: 100vh;
        width: auto;
    
    }
    
    .card-img-top{
        width: 100%;
    }
    }
  