*{
    margin: 0;
    padding: 0;
}

.present-container{
    width: 98.7vw;
    background: #fff;
    position: relative;
    margin-top: -200px;
}

.present-container .link-container{
    display: flex;
    justify-content: center;
    align-items:  center;
  
}

.present-container .link{
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 30px;
    color:  linear-gradient(255deg, #7554C1 29.51%, #243F82 93.15%);
    margin-top: 30px;
    opacity: 1;
    transform: scale(0.001);
    transform: translate3d(0px, 0px, 0px);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
    transition-delay: 0ms;

}

.column {
    flex: 25%;
    max-width: 45%;
    padding: 0 4px;
  }

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 98%;
    height: 100%;
 }
  
 /* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }



@media only screen and (max-width: 1024px) {
    .webpresent-btn{
        margin-left: 150px;
        margin-top: 82px;
    }
    .apppresent-btn{
        margin-left: 20px;
        margin-top: 82px;

    }
    .gamepresent-btn{
        position: absolute;
        margin-left: 20px;
        margin-top: 82px;
    }

}