*{
    margin: 0;
    padding: 0;
}

.service-container{
    height: 100dvh;
    width: auto;
    position: relative; 
    scroll-behavior: smooth;
}

.display-2{
    margin-left: -10rem;
    margin-top: 5rem;
}

.lead{
    margin-left: -10rem;
}

.explore-btn{
    background: linear-gradient(256.4deg, #6347AA 7.85%, #233F81 107.97%);
    margin-left: -10rem;
}