*{
    margin: 0;
    padding: 0;
}

.solution-container{
    height: 100vh;
    width: 98.7vw; 
    background: linear-gradient(256.4deg, #6347AA 7.85%, #233F81 107.97%);
}

.sol-main-heading{
    font-size: 5rem;
    padding-top: 3rem;
    margin-left: 3rem;
}

.card1{
    height: 25rem;
    width: 18rem;
    background: transparent;
    border: 2px solid #d8bfd8;
    margin-left: 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.card2{
    height: 25rem;
    width: 18rem;
    background: transparent; 
    border: 2px solid #d8bfd8; 
    margin-left: 2rem; 
    margin-top: 11.5rem; 
    border-radius: 1rem;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card3{
    height: 25rem; 
    width: 18rem;
    background: transparent; 
    border: 2px solid #d8bfd8; 
    margin-left: 1rem; 
    margin-top: 11.5rem; 
    border-radius: 1rem; 
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card4{
    height: 25rem; 
    width: 18rem;
    background: transparent; 
    border: 2px solid #d8bfd8; 
    margin-left: 0.5rem; 
    margin-top: 11.5rem; 
    border-radius: 1rem;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-inner{
    transform-style: preserve-3d;
    width: 100%; 
    height: 100%;
    transition: transform 0.5s;
}
.card-front{
    position: absolute; 
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.frontimage{
    height: auto;
    width: 50%;
    object-fit: contain;
    margin-top: 2rem;
    margin-left: 4rem;
}

.frontpara{
    font-size: 1rem; 
    margin-left: 1rem; 
    color: #fff;
}
.card-back{
    position: absolute;
    width: 100%; 
    height: 100%; 
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.backimage{
    height: auto; 
    width: 50%; 
    object-fit: contain; 
    margin-top: 2rem; 
    margin-left: 4rem;
}
.backpara{
    font-size: 1rem; 
    margin-left: 1rem; 
    color: #fff;
}
/* Media query for small devices (e.g., mobiles) */
@media only screen and (max-width: 576px){
    .solution-container{
        height: 300vh;
        
    }
    .sol-main-heading{
        font-size: 4rem;
    }
    
    .card1{
        height: 25rem;
        width: 25rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    .card2{
        height: 25rem;
        width: 25rem; 
        margin-left: 3rem; 
        margin-top: 1rem;
    }
    
    .card3{
        height: 25rem;
        width: 25rem; 
        margin-left: 3rem; 
        margin-top: 1rem;
    }
    
    .card4{
        height: 25rem;
        width: 25rem; 
        margin-left: 3rem; 
        margin-top: 1rem;
    }
  
    
    .frontimage{
        margin-left: 5rem;
    }
    
    .frontpara{
        font-size: 1.5rem; 
    }
      
    .backimage{
        margin-left: 5rem;
    }
    .backpara{
        font-size: 1.5rem; 
    }
}
/* Media query for medium devices (e.g., tablet and small pc) */
@media only screen and (min-width: 576px) and (max-width: 768px){

    .solution-container{
        height: 180vh;
    }
    .sol-main-heading{
        font-size: 5rem;
        padding-top: 3rem;
        margin-left: 3rem;
    }
    
    .card1{
        height: 25rem;
        width: 20rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    .card2{
        height: 25rem;
        width: 20rem; 
        margin-left: 25rem; 
        margin-top: -25rem; 
    }
    
    .card3{
        height: 25rem; 
        width: 20rem; 
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .card4{
        height: 25rem;
        width: 20rem; 
        margin-left: 25rem; 
        margin-top: -25rem; 
    }
    
    .frontimage{
        margin-left: 5rem;
    }
    
    .frontpara{
        font-size: 1.3rem; 
    }
        
    .backimage{
        margin-left: 5rem;
    }
    .backpara{
        font-size: 1.3rem; 
    }
}

/* Media query for large devices (e.g., desktop) */
@media only screen and (min-width: 768px) and (max-width: 992px){
    .solution-container{
        height: 180vh;
    }
    .sol-main-heading{
        font-size: 5rem;
        padding-top: 3rem;
        margin-left: 3rem;
    }
    
    .card1{
        height: 25rem;
        width: 20rem;
        margin-left: 3rem;
        margin-top: 1rem;
    }
    .card2{
        height: 25rem;
        width: 20rem; 
        margin-left: -5rem;
        margin-top: 11.5rem;
    }
    
    .card3{
        height: 25rem; 
        width: 20rem; 
        margin-left: 3rem;
        margin-top: 1rem;
    }
    
    .card4{
        height: 25rem;
        width: 20rem; 
        margin-left: -5rem; 
        margin-top: 1rem;
    }
    
    .frontimage{
        margin-left: 5rem;
    }
    
    .frontpara{
        font-size: 1.3rem; 
    }
        
    .backimage{
        margin-left: 5rem;
    }
    .backpara{
        font-size: 1.3rem; 
    }
}

/* Media query for extra large devices (e.g., extra large desktop) */
@media only screen and (min-width: 992px) and (max-width: 1200px){
    .section2-main{
        font-size: 5rem;
        margin-left: 2rem;
    }
    
    .outer-div{
        display: flex;
        transition: transform 1s ease;
    }
    
    .card-style{
        margin-left: 2rem; 
        margin-top: 2rem; 

    }
    
    .cards-image{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .cards-heading{
        margin-left: 2rem;
        margin-top: 0.5rem; 
    }
    
    .card-para{
        margin-left: 2rem; 
        margin-top: 0.5rem;
    }
}