
*{
    margin: 0;
    padding: 0;
    font-family: Sora, sans-serif;
    box-sizing: border-box;
}

.vision-container{
    transition: transform 0.5s ease;
    scroll-behavior: smooth;
    height: 90vh;
    width: auto;
    background: #333;
}

.section2-main{
    padding-top: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
}

.outer-div-vis{
    width: 160%;
}

.card-style{
    height: 20rem;
    width: 15rem;
    background: #fff;
    margin-left: 2rem; 
    overflow: hidden;
    
}

.cards-image{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}
.cards-heading{
    margin-left: 2rem;
    margin-top: 0.5rem; 
    
}

.card-para{
    margin-left: 2rem; 
    padding-right: 0rem; 
    margin-top: 0.5rem;
    width: 15rem; 
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .vision-container{
        height: auto;
    }
    
    .section2-main{
        padding-top: 2rem;
        margin-left: 2rem;
    }
    
    .outer-div-vis{
        width: 160%;
    }
    
    .card-style{
        height: 20rem;
        width: 15rem;
        background: #fff;
        margin-left: 2rem; 
        overflow: hidden;
        
    }
    
    .cards-image{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .cards-heading{
        margin-left: 2rem;
        margin-top: 0.5rem; 
        
    }
    
    .card-para{
        margin-left: 2rem; 
        padding-right: 0rem; 
        margin-top: 0.5rem;
        width: 15rem; 
        
    }
    
  }
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .vision-container{
        height: auto;
    }
    
    .section2-main{
        padding-top: 2rem;
        margin-left: 2rem;
    }
    
    .outer-div-vis{
        width: 160%;
    }
    
    .card-style{
        height: 20rem;
        width: 15rem;
        background: #fff;
        margin-left: 2rem; 
        overflow: hidden;
        
    }
    
    .cards-image{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .cards-heading{
        margin-left: 2rem;
        margin-top: 0.5rem; 
        
    }
    
    .card-para{
        margin-left: 2rem; 
        padding-right: 0rem; 
        margin-top: 0.5rem;
        width: 15rem; 
        
    }
    
    }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .vision-container{
        height: auto;
    }
    
    .section2-main{
        padding-top: 2rem;
        margin-left: 2rem;
    }
    
    .outer-div-vis{
        width: 160%;
    }
    
    .card-style{
        height: 20rem;
        width: 15rem;
        background: #fff;
        margin-left: 2rem; 
        overflow: hidden;
        
    }
    
    .cards-image{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .cards-heading{
        margin-left: 2rem;
        margin-top: 0.5rem; 
        
    }
    
    .card-para{
        margin-left: 2rem; 
        padding-right: 0rem; 
        margin-top: 0.5rem;
        width: 15rem; 
        
    }
    
    }

/* Large devices (laptops/desktops, 992 and up) */
@media only screen and (min-width: 992px) {
    .vision-container{
        height: auto;
    }
    
    .section2-main{
        padding-top: 2rem;
        margin-left: 2rem;
    }
    
    .outer-div-vis{
        width: 160%;
    }
    
    .card-style{
        height: 20rem;
        width: 15rem;
        background: #fff;
        margin-left: 2rem; 
        overflow: hidden;
        
    }
    
    .cards-image{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .cards-heading{
        margin-left: 2rem;
        margin-top: 0.5rem; 
        
    }
    
    .card-para{
        margin-left: 2rem; 
        padding-right: 0rem; 
        margin-top: 0.5rem;
        width: 15rem; 
        
    }
    
    }
/* Large devices (laptops/desktops, 1200 and up) */
@media only screen and (min-width: 1200px) {
    .vision-container{
        height: auto;
    }
    
    .section2-main{
        padding-top: 2rem;
        margin-left: 2rem;
    }
    
    .outer-div-vis{
        width: 160%;
    }
    
    .card-style{
        height: 20rem;
        width: 15rem;
        background: #fff;
        margin-left: 2rem; 
        overflow: hidden;
        
    }
    
    .cards-image{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .cards-heading{
        margin-left: 2rem;
        margin-top: 0.5rem; 
        
    }
    
    .card-para{
        margin-left: 2rem; 
        padding-right: 0rem; 
        margin-top: 0.5rem;
        width: 15rem; 
        
    }
    
    }
  /* Extra Extra Large devices (laptops/desktops, 2500 and up) */
@media only screen and (min-width: 2500px) {
    .vision-container{
        height: 50vh;
    }
    
    .section2-main{
        padding-top: 2rem;
        margin-left: 2rem;
        font-size: 5rem;
    }
    
    .outer-div-vis{
        width: 160%;
        margin-top: 2rem;
    }
    
    .card-style{
        height: 100%;
        width: auto;
        background: #fff;
        margin-left: 2rem; 
        overflow: hidden;
        
    }
    
    .cards-image{
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    .cards-heading{
        margin-left: 2rem;
        margin-top: 0.5rem; 
        
    }
    
    .card-para{
        margin-left: 2rem; 
        padding-right: 0rem; 
        margin-top: 0.5rem;
        width: 15rem; 
        
    }
    
    }
      