*{
    margin: 0;
    padding: 0;
}

.gameprocess-container{
    height: 130vh;
    width: 98.7vw;
    background: #eceefe;
    position: relative;
}

.webprocess-h1{
    top: 6%;
    left: 18%;
    font-size: 50px;
    color: #333;
    position: absolute;
    z-index: 2;
}
.webprocess-p{
    top: 15%;
    left: 10%;
    padding: 0 200px 0px 50px;
    font-size: 20px;
    color: #333;
    position: absolute;
    z-index: 2;
}
.research-grid{
    position: absolute;
    z-index: 2;
    left: 7%; 
    top: 30%;
}

.research-grid .research-img{
    position: absolute;
    top: 4%;
    left: 40%;
    height: 60px;
    width: 60px;
}

.research{
    font-size: 30px;
    color: #fff;
    padding-top: 12px;
}
.research-p{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px -50px;
    padding: 40px 0px 0px 0px;
}
.webdev-grid{
    position: absolute;
    z-index: 2;
    left: 29%; 
    top: 30%;
}

.webdev-grid .webdev-img{
    position: absolute;
    top: 4%;
    left: 37%;
    height: 60px;
    width: 60px;
}

.webdev{
    font-size: 30px;
    color: #fff;
    padding-top: 12px;
    margin-left: -30px;
}

.webdev-p{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px -50px;
    padding-top: 10px;
}
.test-grid{
    position: absolute;
    z-index: 2;
    left: 51%; 
    top: 30%;
}

.test-grid .test-img{
    position: absolute;
    top: 4%;
    left: 40%;
    height: 60px;
    width: 60px;
}
.test{
    font-size: 30px;
    color: #fff;
    padding-top: 12px;
}

.test-p{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px -50px;
    padding: 40px 0px 0px 0px;
}
.launch-grid{
    position: absolute;
    z-index: 2;
    left: 73%; 
    top: 30%;
}

.launch-grid .launch-img{
    position: absolute;
    top: 4%;
    left: 40%;
    height: 60px;
    width: 60px;
}

.launch{
    font-size: 30px;
    color: #fff;
    padding-top: 12px;
}

.launch-p{
    position: absolute;
    z-index: 2;
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px -50px;
    padding: 40px 0px 0px 0px;
}
