*{
    margin: 0;
    padding: 0;
}

.footer-container{
    height: 70vh;
    width: 98.7vw;
    background: #333;
    position: relative;
    margin-top: 0px;
}

.footer-container img{
    height: 70vh;
    width: 98.7vw;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
} 

.footer-logo{
    position:absolute;
    z-index: 3;
    background: url('https://i.ibb.co/6ypK9Hs/image.png');
    height: 40vh;
    width: 40vw;
    top: 6%;
    left: 1%;
    cursor: pointer;
    background-size: 20%;
    cursor: pointer;
    background-size: 40%;
    background-repeat: no-repeat;
}

.footer-container p{
    position: absolute;
    z-index: 2;
    top: 45%;
    left: -27%;
    padding: 0px 25px 0px 380px;
    margin: 0px 1000px 0px 0px;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    color: #fff;
}

.quick-links {
    position: absolute;
    top: 20%;
    left: 30%;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Poppins, sans-serif;
}

.quick-foolinks li{
    font-size: 15px;
    font-weight: 700;
    margin-left:15px;
    margin-top: 10px;
    padding-top: 2px;
    list-style: none;
    color: #fff;
}
.quick-foolinks li a{
    color: #fff;
    text-decoration: none;
}

.service-links {
    position: absolute;
    top: 19%;
    left: 46%;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.service-foolinks li{
    font-size: 15px;
    font-weight: 500;
    margin-left:5px;
    margin-top: 10px;
    padding-top: 2px;
    list-style: none;
    text-transform: capitalize;
    color: #fff;
}
.service-foolinks li a{
    color: #fff;
    text-decoration: none;
}

.service-links2 {
    position: absolute;
    top: 19%;
    left: 65%;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}
.service-foolinks2 li{
    font-size: 15px;
    font-weight: 500;
    margin-left:5px;
    margin-top: 10px;
    padding-top: 2px;
    list-style: none;
    text-transform: capitalize;
    color: #fff;
}
.service-foolinks2 li a{
    color: #fff;
    text-decoration: none;
}
.contact-link {
    position: absolute;
    top: 19%;
    left: 83%;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
}

.contact-foolinks li{
    font-size: 15px;
    font-weight: 500;
    margin-left:27px;
    margin-top: 10px;
    padding-top: 10px;
    list-style: none;
    text-transform: capitalize;
    color: #fff;
  
}
.contact-foolinks li a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.contact-foolinks img{
    height: 1rem;
    width: 1.5rem;
    position: absolute;
    left: -3%;
    margin-top: 4px;
}

.copyright{
    background: #464060;
    position: absolute;
    z-index: 2;
    width: 98.7vw;
    height: 6vh;
    top: 100%;
}

.copyright h1{
    position: absolute;
    z-index: 3;
    color: #fff;
    top: 7%;
    left: 40%;
    font-size: 19px;
}