*{
    margin: 0;
    padding: 0;
}

.port-section2{
    height: 800vh;
    width: 98.7vw;
    background: #ebefff;
    position: relative;
}
.port-section2 .bg-img{
    height: 120vh;
    width: 60vw;
    position: absolute;
    left: 35%;
}

.port-right-h{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 3%;
    left: 81%;
    padding: 0px 5px 0px 0px;
    color: #333;
    text-transform: capitalize;
}

.port-section2 .h1{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 39%;
    left: 65%;
    padding: 30px 5px 0px 0px;
    color: #333;
    text-transform: capitalize;
}
.port-section2 .h2{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 44%;
    left: 65%;
    padding: 30px 5px 0px 0px;
    color: #333;
    text-transform: capitalize;
}
.port-section2 .h3{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 49%;
    left: 65%;
    padding: 30px 5px 0px 0px;
    color: #333;
    text-transform: capitalize;
}


.port-section2 .port-card1{
    height: 500px;
    border-radius: 5px;
    width: 700px !important;
    background: #fff;
    margin-top: 30px;

}
.port-section2 .port-card1 .img1{
    height: 500px;
    width: 700px;
    border-radius: 5px; 
}

.port-section2 .port-card2{
    height: 500px;
    border-radius: 5px;
    width: 700px !important;
    background: #fff;
    margin-top: 30px;
}

.port-section2 .port-card2 .img2{
    height: 500px;
    width: 700px;
    border-radius: 5px; 

}

.port-section2 .port-card3{
    height: 500px;
    border-radius: 5px;
    width: 700px !important;
    background: #fff;
    margin-top: 30px;
}

.port-section2 .port-card3 .img3{
    height: 500px;
    width: 700px;
    border-radius: 5px; 

}

.port1-carousel{
    margin-top: 0px;
}


.port-section2 .port1-carousel .slick-slider {
    width: 700px;
    height: 500px;
    margin-left: 50px;
}

.port-section2 .port1-carousel .slick-slide div{
    width: 300px;
}

.port-section2 .port1-carousel .slick-dots li.slick-active button:before {
    color: #333 !important;
    
}
.port-section2 .port1-carousel .slick-dots li button:before {
    color: #c2c4cc;
    font-size: 0.5rem !important;
    top: 8rem !important;
}

.port-section2 .port1-carousel .slick-initialized .slick-slide {
    display: flex;
}

.port-section2 .port1-carousel .slick-prev {
    left: 0px;
    margin-left: -30px;
    background: transparent;
    border-radius: 10px;
}
.port-section2 .port1-carousel .slick-next{
    right: -30px;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
}

.port-left-h{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 30%;
    left: 5%;
    padding: 30px 5px 0px 0px;
    color: #333;
    text-transform: capitalize;
}

.port-section3 .h1{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 39%;
    left: 7%;
    padding: 30px 5px 0px 0px;
    color: #333;
    text-transform: capitalize;
}
.port-section3 .h2{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 44%;
    left: 7%;
    padding: 30px 5px 0px 0px;
    color: #333;
    text-transform: capitalize;
}
.port-section3 .h3{
    position: absolute;
    z-index: 1;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; 
    letter-spacing: -1px;
    top: 49%;
    left: 7%;
    padding: 30px 5px 0px 0px;
    color: #333;
    text-transform: capitalize;
}

.port-section3 .port-card4{
    height: 600px;
    border-radius: 5px;
    width: 700px !important;
    background: #fff;
    position: absolute;

    
}
.port-section3 .port-card4 .img4{
    height: 500px;
    width: 700px;
    border-radius: 5px; 
}

.port-section3 .port-card5{
    height: 500px;
    border-radius: 5px;
    width: 700px !important;
    background: #fff;
}

.port-section3 .port-card5 .img5{
    height: 500px;
    width: 700px;
    border-radius: 5px; 

}

.port-section3 .port-card6{
    height: 500px;
    border-radius: 5px;
    width: 700px !important;
    background: #fff;
}

.port-section3 .port-card6 .img6{
    height: 500px;
    width: 700px;
    border-radius: 5px; 

}
.port2-carousel{
    margin-top: 200px;
}

.port-section3 .port2-carousel .slick-slider {
    width: 700px;
    height: 500px;
    margin-left: 600px;
}

.port-section3 .port2-carousel .slick-slide div{
    width: 300px;
}

.port-section3 .port2-carousel .slick-dots li.slick-active button:before {
    color: #333 !important;
    
}
.port-section3 .port2-carousel .slick-dots li button:before {
    color: #c2c4cc;
    font-size: 0.5rem !important;
    top: 8rem !important;
}

.port-section3 .port2-carousel .slick-initialized .slick-slide {
    display: flex;
}

.port-section3 .port2-carousel .slick-prev {
    left: 0px;
    margin-left: -30px;
    background: transparent;
    border-radius: 10px;
}
.port-section3 .port2-carousel .slick-next{
    right: -30px;
    background: transparent;
    border-radius: 10px 10px 10px 10px;
}


@media only screen and (max-width: 1024px) {
    .right-vision{
        font-size: 20px;
        padding: 30px 0px 0px 530px;
    }
    #line1-vision{
        top: 115%;
        left: 52%;
        padding: 0px 30px 4px 30px;
    }
    #line2-vision{
        top: 115%;
        left: 58.2%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 115%;
        left: 60.5%;
        padding: 0px 5px 4px 5px;
    }
    .right-heading{
        font-size: 30px;
        padding: 14px 0px 1px 10px;
        margin: 1px 10px 12px 490px;
    }
    .right-p {
        font-size: 16px;
        padding: 0px 2px 1px 480px;
        margin: 17px 30px 12px 25px;
    }
    .btn-visionread{
        top: 205%;
        left: 50%;
    }
    .box{
        top: 117%;
        left: 4%;
        padding: 340px 200px 50px 100px;
    }
    .box1{
        top: 125%;
        left: 10%;
        padding: 340px 200px 50px 100px;
    }
    .vision-image{
        height: 100vh;
        width: 65vw;
        top: 112.9%;
        left: 10%;
    }
}
@media only screen and (max-width: 768px) {
  
    .right-vision{
        font-size: 20px;
        padding: 15px 0px 0px 395px;
    }
    #line1-vision{
        top: 117%;
        left: 52%;
        padding: 0px 25px 4px 30px;
    }
    #line2-vision{
        top: 117%;
        left: 59.6%;
        padding: 0px 5px 4px 10px;
    }
    #line3-vision{
        top: 117%;
        left: 61.9%;
        padding: 0px 5px 4px 5px;
    }
    .right-heading{
        font-size: 30px;
        padding: 14px 0px 1px 85px;
        margin: -10px 80px 12px 300px;
    }
    .right-p {
        font-size: 14px;
        padding: 0px 2px 1px 95px;
        margin: -8px 10px 12px 280px;
    }
    .btn-visionread{
        top: 209%;
        left: 50%;
    }
    .box{
        top: 117%;
        left: 4%;
        padding: 300px 150px 40px 100px;
    }
    .box1{
        top: 125%;
        left: 10%;
        padding: 300px 150px 40px 100px;
    }
    .vision-image{
        height: 60vh;
        width: 67vw;
        top: 125%;
        left: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .box{
        display: none;
    }
    .box1{
        display: none;
    }
    .vision-image{
        display: none;
    }    
    .right-vision{
        font-size: 17px;
        padding: 30px 0px 0px 190px;
    } 
    #line1-vision{
        top: 119%;
        left: 39%;
        padding: 0px 25px 4px 20px;
    }
    #line2-vision{
        top: 119%;
        left: 49%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 119%;
        left: 53.5%;
        padding: 0px 4px 4px 8px;
    }
    .right-heading{
        font-size: 20px;
        padding: 14px 0px 1px 10px;
        margin: 1px 80px 12px 50px;
    }

    .right-p {
        font-size: 14px;
        padding: 0px 9px 1px 10px;
        margin: 17px 25px 12px 35px;
    }
    .btn-visionread{
        top: 213%;
        font-size: 12px;
        left: 10%;
        padding-left: 15px;
    }
}
@media only screen and (max-width: 320px) {
    .vision-main{
        height: 70vh;
        width: 98.7vw;
    }
    .right-vision{
        font-size: 20px;
        padding: 10px 0px 0px 110px;
    } 
    #line1-vision{
        top: 116%;
        left: 36%;
        padding: 0px 30px 4px 10px;
    }
    #line2-vision{
        top: 116%;
        left: 50%;
        padding: 0px 10px 4px 10px;
    }
    #line3-vision{
        top: 116%;
        left: 57%;
        padding: 0px 4px 4px 8px;
    }
    .right-heading{
        font-size: 20px;
        padding: 14px 0px 1px 10px;
        margin: -18px 50px 12px 50px;
    }

    .right-p {
        font-size: 12px;
        padding: 0px 9px 1px 10px;
        margin: -5px 25px 12px 35px;
    }
    .btn-visionread{
        top: 228%;
        font-size: 12px;
        left: 13%;
        padding-left: 15px;
    }
}