*{
    margin: 0;
    padding: 0;
}

.port-section1{
    height: 80vh;
    width: 98.7vw;
    position: relative;
    background: #f3f6ff;
    margin-top: 20px;
}

.port-section1 img{
    height: 80vh;
    width: 50vw;
    position: relative;
    margin-top: 20px;
}

.port-section1 h1{
    color: #333;
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 35%;
}
.port-section1 p{
    color: #333;
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 5%;
    margin: 0px 20px 0px 20px;
    padding: 0px 50px 0px 50px;
}

.port-box1{
    top: 35%;
    left: 33%;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #5a39a8;
    transform: rotate(90deg);
    background: transparent;
    padding: 180px 90px 90px 90px;
    -webkit-box-shadow: 0 0 10px #cfd1d9;
    box-shadow: 0 0 20px #cfd1d9;
}
.port-box2{
    top: 35%;
    left:56%;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #5a39a8;
    transform: rotate(90deg);
    background: transparent;
    padding: 180px 90px 90px 90px;
    -webkit-box-shadow: 0 0 10px #cfd1d9;
    box-shadow: 0 0 20px #cfd1d9;
}
.port-box3{
    top: 35%;
    left:79%;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #5a39a8;
    transform: rotate(90deg);
    background: transparent;
    padding: 180px 90px 90px 90px;
    -webkit-box-shadow: 0 0 10px #cfd1d9;
    box-shadow: 0 0 20px #cfd1d9;
}
.port-box4{
    top: 35%;
    left:10%;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #5a39a8;
    transform: rotate(90deg);
    background: transparent;
    padding: 180px 90px 90px 90px;
    -webkit-box-shadow: 0 0 10px #cfd1d9;
    box-shadow: 0 0 20px #cfd1d9;
}
.span1{
    font-size: 50px;
    font-weight: 500;
    top: 50%;
    left:13%;
    position: absolute;
    z-index: 1;
}
.span2{
    font-size: 50px;
    font-weight: 500;
    top: 50%;
    left:37%;
    position: absolute;
    z-index: 1;
}
.span3{
    font-size: 50px;
    font-weight: 500;
    top: 50%;
    left:59%;
    position: absolute;
    z-index: 1;
}
.span4{
    font-size: 50px;
    font-weight: 500;
    top: 50%;
    left:83%;
    position: absolute;
    z-index: 1;
}
.port-section1 .h1{
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    top: 65%;
    left: 9%;
}
.port-section1 .h2{
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    top: 65%;
    left: 31%;
}
.port-section1 .h3{
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    top: 65%;
    left: 55%;
}
.port-section1 .h4{
    color: #333;
    font-size: 20px;
    text-transform: capitalize;
    position: absolute;
    top: 65%;
    left: 77%;
}